#reseller-profile

  %h3 Reseller Profile

  = render "shared/error_messages", :target => @reseller_profile

  = form_for [ @organization, @reseller_profile ] do |f|

    %ul
      %li
        .label= f.label :url
        .element= f.text_field :url
      %li
        .label= f.label :description
        .element= f.text_area :description
      %li
        .label= f.label :fee
        .paired.element
          = f.text_field :fee, :value => number_to_currency(@reseller_profile.fee * 0.01)
          .description= "This fee is in addition to the $1 fee which Artful.ly collects."

    = f.submit "Update Profile"
