= render "shared/error_messages", :target => @reseller_profile

= form_for [ @organization, @reseller_profile ] do |f|

  .control-group
    = f.label :url, "URL", :class => "control-label"
    .controls
      = f.text_field :url, :class => "input-xlarge"

  .control-group
    = f.label :description, "Description", :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'input-xlarge', :rows => '6'

  .control-group
    = f.label :fee, "Fee", :class => "control-label"
    .controls
      = f.text_field :fee, :value => number_to_currency((@reseller_profile.fee || 100) * 0.01)
      %p.help-block This fee is in addition to the $1 fee which Artful.ly collects

  .form-actions
    = render :partial => 'shared/submit_cancel', :locals => { :form => f, :cancel_path => root_path }
