- in_section :reports
- content_for :header do
  %h1 Settlement Reports
  %h2 View settlements for shows and donations


.document
  %h3 View Settlements
  #settlements
    - if @settlements.empty?
      %p You have not received any settlements yet.
    - else
      %table.standalone.zebra
        %thead
          %tr
            %th ID
            %th Show ID
            %th Date
            %th Transaction ID
            %th Gross
            %th Realized
            %th Net
        %tbody
          - @settlements.each do |settlement|
            %tr{:class => settlement.success? ? "succeeded" : "failed" }
              %td= link_to settlement.id, settlement_path(settlement)
              %td= settlement.show_id
              %td= l(settlement.created_at, :format => :date)
              %td
                -if settlement.success?
                  =settlement.transaction_id
                -else
                  FAILED
              %td= number_as_cents(settlement.gross)
              %td= number_as_cents(settlement.realized_gross)
              %td= number_as_cents(settlement.net)
      = will_paginate @settlements

.context
  %h3 Settlement Schedule
  %p Settlement happens 2 business days after the show plays or the donation occurs. For example, a show on Monday night will be settled on Thursday.