- in_section :events
- content_for :header do
  %h1 New Order

.context
  %h3= "Tickets (#{@cart.tickets.size})"
  %ul.detailed-list
    - @cart.tickets.each do |ticket|
      %li.ticket
        %h4= ticket.section
        %ul.details-long
          %li
            .key Price
            .value= number_as_cents(ticket.price)

.document
  %h3 Customer Information
  .option1.of2
    %h4 Existing Customer
    %p Checkout using an existing person record.
    = form_tag box_office_cart_path(@cart), :method => :get do
      %ul
        %li
          .full.paired.element
            = text_field_tag :terms
            = submit_tag "Search"
  .option1.of2
    %h4 Anonymous Purchase
    %p Checkout using an anonymous person record.
    = form_tag(new_box_office_checkout_path, :method => :get) do
      = hidden_field_tag :person_id, @dummy.id
      = hidden_field_tag :cart_id, @cart.id
      %ul
        %li= submit_tag "Anonymous Checkout"

  - unless @buyers.blank?
    %h3 Results
    %ul.wizard-list
      - @buyers.each do |buyer|
        %li
          %span.name= "#{buyer.first_name} #{buyer.last_name} (#{buyer.email})"
          = form_tag(new_box_office_checkout_path, :method => :get) do
            = hidden_field_tag :person_id, buyer.id
            = hidden_field_tag :cart_id, @cart.id
            = submit_tag "Select", :class => :mini
