%table.zebra.table#notes-list

  %thead
    %tr
      %th Date
      %th Note
      %th &nbsp;

  %tbody
    - if person.notes.empty?
      %tr
        %td No notes for this person
        %td &nbsp;
        %td &nbsp;
    - else
      - notes.each do |note|
        %tr
          %td= l note.occurred_at, :format => :slashed_date unless note.occurred_at.nil?
          %td{:width => "80%"}= truncate(note.text, :length => 300, :separator => ' ', :omission => '...')
          %td
            = link_to("Edit", edit_person_note_path(person, note, :format => :html), :class => "new-note-link", :remote => true)
            = link_to "Delete", "#delete-confirm-modal-#{note.id}", :class => "delete-confirm-link", "data-toggle" => "modal"

            .modal.fade{:id => "delete-confirm-modal-#{note.id}"}
              .modal-header
                = link_to 'x', '#', :class => 'close', 'data-dismiss' => 'modal'
                %h3 Delete a note from this person
              .modal-body
                = simple_format note.text
              .modal-footer
                = link_to "Delete this note", person_note_path(person, note), :method => :delete, :class => "delete-confirm-link btn btn-warning"
