.spread
  = form_for @note, :url => person_note_path(@person, @note), :as => :artfully_action do |form|
    %ul
      %li
        .label= form.label :occurred_at, "Note date/time"
        .element
          = form.text_field :occurred_at, :value => l(@note.occurred_at, :format => :datetime_for_input), :readonly => true, :class => :datetimepicker

      %li
        .label= form.label :details, "Details"
        .element= form.text_area :text, :size => "25x5"

    -unless @note.created_at.nil?
      %h4= "Note created on #{(l @note.created_at, :format => :long)}"
    = form.submit "Save note"
