- content_for :controls do
  #total
    %span Your total is
    .price= number_as_cents current_cart.total
    %span= "You have #{pluralize(current_cart.items.size, "item")}"
  #checkout-now= link_to "Checkout Now", new_store_checkout_path unless current_cart.items.empty?
  #clear-cart= link_to "Clear My Cart", store_order_path(current_cart), :method => :delete, :confirm => 'Are you sure you want to empty your cart?' unless current_cart.empty?

%ul.item-list
  - current_cart.purchasable_tickets.each do |ticket|
    %li.ticket= render ticket
  - current_cart.donations.each do |donation|
    %li.donation= render donation

- unless @donations.empty?
  - @donations.each do |donation|
    = render :partial => 'store/donations/form', :locals => { :target => donation }
