- content_for :header do
  %h1 Orders & Donations

.context
  %p= "Exchanging #{pluralize(params[:items].length, 'item')}"
.document

.drilldown
  %h3 Choose an Event
  %ul#event-drilldown
    - @events.each do |event|
      %li= link_to event.name, params.merge({:event_id => event.id}), :title => 'event-name'

.drilldown
  - unless @performances.nil?
    %h3 Choose a Performance
    - if @performances.empty?
      %p Sorry, there are no performances that meet the requirements for an exchange.
    - else
      %ul#performance-drilldown
        - @performances.each do |performance|
          %li= link_to l(performance.datetime, :format => :short), params.merge({:performance_id => performance.id}), :title => 'performance-datetime'

.drilldown.final
  - unless @performance.nil?
    %h3 Select Tickets
    - if @tickets.empty?
      %p Sorry, there are no tickets that meet the requirements for an exchange.
    - else
      = form_tag '/exchanges' do
        = hidden_field_tag :order_id, params[:order_id]
        - params[:items].each do |item_id|
          = hidden_field_tag "items[]", item_id
        %ul#ticket-drilldown
          - @tickets.each do |ticket|
            %li
              .label-and-element
                = check_box_tag "tickets[]", ticket.id, false, :id => "ticket_#{ticket.id}"
                = label_tag "ticket_#{ticket.id}", "#{ticket.section}: #{number_as_cents ticket.price}"
        = submit_tag "Exchange these tickets"
