- content_for :header do
  %h1 Settlements

.spread
  %p Select a date range to find settlements
  %ul.inline
    =form_tag admin_settlements_path, :method => :get do
      %li
        .key= label_tag :start_date
        .value= text_field_tag :start,"#{l @start, :format => :date_for_input}", :readonly => true, :class => 'datepicker'
      %li
        .key= label_tag :end_date
        .value= text_field_tag :stop, "#{l @stop, :format => :date_for_input}", :readonly => true, :class => 'datepicker'
      = submit_tag "Search"

.spread
  %h3 Settlements
  =render :partial => "admin/shared/settlements_table", :locals => {:settlements => @settlements}