- content_for :header do
  %h1 Settlements

.context
  %p Select a date range to find settlements
  #settlements-search
    %ul.kv
      =form_tag admin_settlements_path, :method => :get do
        %li
          .key= label_tag :start_date
          .value= text_field_tag :start,"#{l @start, :format => :date_for_input}", { :class=>'datepicker hasDatePicker'}
        %li
          .key= label_tag :end_date
          .value= text_field_tag :stop, "#{l @stop, :format => :date_for_input}", { :class=>'datepicker hasDatePicker'}
        = submit_tag "Search"

.document
  %h3 Settlements

  #settlement-table
    %table.standalone
      %thead
        %tr
          %th ID
          %th Org
          %th Performance
          %th Date
          %th Transaction ID
          %th Gross
          %th Realized
          %th Net
          %th
      %tbody
        -if @settlements.nil?
          %td= "No settlements found for this date range"
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
        -else
          -@settlements.each do |settlement|
            %tr{:class => settlement.success? ? "succeeded" : "failed" }
              %td= settlement.id
              %td= link_to settlement.organization_id, admin_organization_path(settlement.organization_id)
              %td= settlement.performance_id
              %td= l settlement.created_at, :format => :short
              %td
                -if settlement.success?
                  =settlement.transaction_id
                -else
                  FAILED (#{settlement.ach_response_code})
              %td= number_as_cents(settlement.gross)
              %td= number_as_cents(settlement.realized_gross)
              %td= number_as_cents(settlement.net)
              %td
                -if !settlement.success?
                  = form_tag new_admin_settlement_path, :method=>'get' do
                    = hidden_field_tag "performance_id", settlement.performance_id
                    = submit_tag "Re-settle", :class => [ :mini, :full ]                
    =will_paginate @settlements unless @settlements.nil?