- in_section :events
- content_for :header do
  %h1 Ticketing and Events

= render "shared/error_messages", :target => @event

.compact-spread
  = form_for @comp do |form|
    %h4= link_to "#{@comp.recipient.first_name} #{@comp.recipient.last_name}", person_path(@comp.recipient)
    %h5= @comp.recipient.email
    .hr
    = hidden_field_tag :show_id, @performance.id
    = hidden_field_tag :person_id, @comp.recipient.id
    - @selected_tickets.each do |st|
      = hidden_field_tag("selected_tickets[]", st)
    %ul
      %li
        .label= label_tag :comp_reason, "Reason for Comp"
        .full.paired.element
          = text_field_tag :comp_reason
          = submit_tag "Submit"
  %p= link_to "Search for a different Person Record", "javascript:history.back()"

