= parent_form.fields_for target do |action_form|
  %li
    .label= action_form.label :first_name, "First Name"
    .element= action_form.text_field :first_name

  %li
    .label= action_form.label :last_name, "Last Name"
    .element= action_form.text_field :last_name

  %li
    .label= action_form.label :email, "Email"
    .element= action_form.text_field :email