= form_for(person) do |form|
  %ul
    %li
      =form.label :first_name, "First Name"
      = form.text_field :first_name
    %li
      = form.label :last_name, "Last Name"
      = form.text_field :last_name
    %li
      = form.label :email, "Email"
      = form.text_field :email
  .cancel-submit
    = render :partial => 'shared/submit_cancel', :locals => { :form => form, :cancel_path => people_path }