%h3="#{@person.first_name} #{@person.last_name}"

%ul.context-buttons
  %li= button_to "Edit", edit_person_path(@person), :method => :get, :class => "btn"

%h4 Contact Information
%ul.kv.editable
  %li
    .key Email
    .value{"data-name" => "email", "data-url" => person_url(@person, :format => :json)}= @person.email
  %li
    .key Company Name
    .value{"data-name" => "company_name", "data-url" => person_url(@person, :format => :json)}= @person.company_name
  %li
    .key Website
    .value.website{"data-name" => "website", "data-url" => person_url(@person, :format => :json)}= @person.website

%h4 Phone Numbers
%ul.kv
  - person.phones.each do |phone|
    %li
      .key= phone.kind
      .value
        = phone.number
        = link_to "Delete", person_phone_path(@person.id, phone.id), :method => :delete, :confirm => "Are you sure you want to delete #{phone.number}?"

= form_for([person, Phone.new]) do |form|
  %ul
    %li
      .hidden.label= form.label(:number, "Number")
      .hidden.label= form.label(:kind, "Kind")
      .full.paired.element
        = form.select(:kind, options_for_select(Phone.kinds), {}, {:class => :half})
        = form.text_field(:number, :placeholder => "Ex: 555-123-1234", :class => :half)
        = form.submit :class => "btn"

%h4 Mailing Address
- if @person.address.present?
  = render @person.address
  = button_to "Edit", "#", :id => "update-mailing-address", :class => "btn"
- else
  = button_to "Add", "#", :id => "create-mailing-address", :class => "btn"

= render :partial => "addresses/form", :locals => { :person => @person, :address => @person.address || @person.build_address }
