%h3="#{@person.first_name} #{@person.last_name}"

%ul.context-buttons
  %li= button_to "Edit", edit_person_path(@person), :method => :get

%h4 Contact Information
%ul.kv.editable
  %li
    .key Email
    .value{"data-name" => "email", "data-url" => person_url(@person, :format => :json)}= @person.email
  %li
    .key Company Name
    .value{"data-name" => "company_name", "data-url" => person_url(@person, :format => :json)}= @person.company_name
  %li
    .key Website
    .value.website{"data-name" => "website", "data-url" => person_url(@person, :format => :json)}= @person.website

%h4 Phone Numbers
%ul.kv
  - person.phones.each do |phone|
    %li
      .key= phone.type
      .value
        = phone.formatted_number
        = link_to "Delete", person_phone_path(@person.id, phone.id), :method => :delete, :confirm => "Are you sure you want to delete #{phone.number}?"

= form_tag(person_phones_path(@person)) do
  %ul
    %li
      .hidden.label= label_tag(:phone_number, "New Phone")
      .full.paired.element
        = select_tag(:type, options_for_select([]), :class => :half)
        = text_field_tag(:number, "", :placeholder => "Ex: 555-123-1234", :class => :half)
        = submit_tag("Save")

%h4 Mailing Address
- if @person.address.present?
  = render @person.address
  = button_to "Edit", "#", :id => "update-mailing-address"
- else
  = button_to "Add", "#", :id => "create-mailing-address"

= render :partial => "addresses/form", :locals => { :person => @person, :address => @person.address || @person.build_address }