- in_section :people
= render :partial => "shared/headers/people"

= form_tag people_path, {:method => :get, :remote => true, :class => 'big-search super-search'} do
  = hidden_field_tag :commit, "Search"
  = text_field_tag :search, "", :placeholder => "Email address or name..."
  = submit_tag "Search"

.spread
  %h3 Results
  .super-search-results
    - unless @people.empty?
      = render :partial => 'list', :locals => { :people => @people } unless @people.empty?
      = will_paginate @people