- in_section :people
= render :partial => "shared/headers/people"


= form_tag people_path, {:method => :get, :remote => true, :class => 'big-search super-search'} do
  = hidden_field_tag :commit, "Search"
  = text_field_tag :search
  = submit_tag "Search"

.tip
  %h3 Tips
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula <strong>nisi eget lacus</strong> gravida at iaculis mi luctus. Vestibulum accumsan est eget lacus accumsan a condimentum leo volutpat. In congue rhoncus neque, ut tincidunt quam sagittis eget. In hac habitasse platea dictumst. Quisque non imperdiet magna.

.document
  %h3 Results
  .super-search-results
    - unless @people.empty?
      = render :partial => 'list', :locals => { :people => @people } unless @people.empty?
      = will_paginate @people