- in_section :people
- content_for :header do
  %h1 Create a New Contact

.compact-spread
  %h3 First Things First
  = render :partial => "shared/error_messages", :locals => { :target => @person }
  = form_for @person, :url => people_path do |form|
    %ul
      = render :partial => 'people/form', :locals => { :parent_form => form, :target => @person }
      %li.cancel-submit
        = link_to "Cancel", people_path
        = form.submit "Create"