- if ticket_offers.present?

  #ticket-offers

    %h3 Pending ticket offers

    %table.table.ticket-offers-list

      %thead
        %th Organization
        %th Event
        %th Show
        %th Section
        %th Tickets
        %th &nbsp;
        %th &nbsp;

      %tbody

        - ticket_offers.each do |ticket_offer|

          %tr
            %td.organization-name= ticket_offer.organization.name
            %td.event-name= link_to ticket_offer.event.name, store_event_path(ticket_offer.event)
            %td.show-name= ticket_offer.show.show_time
            %td.section= ticket_offer.section.name
            %td.ticket-count= ticket_offer.count
            %td.accept.button= link_to "Accept", accept_ticket_offer_path(ticket_offer), :class => "btn"
            %td.decline.button= link_to "Decline", decline_ticket_offer_path(ticket_offer), :class => "btn"
