- in_section :events

- content_for :header do
  %h1 Reseller Offers

.context
  %p
    You are declining an offer of tickets from #{@ticket_offer.organization.name} for #{pluralize @ticket_offer.count, "ticket"} to #{@ticket_offer.event.name} on #{l @ticket_offer.show.datetime_local_to_event, :format => :short}
  %p
    = t(".list", :default => "")
.document
  = form_for [ @ticket_offer ] do |f|
    = f.hidden_field :status, :value => "rejected"
    %div
      %p
        Send a note explaining why you're declining these tickets (optional).  Your note will be included the producer's notification email.
      =f.text_area :rejection_reason, :size => "15x5"

    .cancel-submit
      = link_to "Cancel", ticket_offers_path
      = f.submit "Reject this offer"
