- in_section :events
- content_for :header do
  %h1= t('.heading', :default => "Reseller Offers")

- if (@offers_to_me && @offers_to_me.count > 0) || (@my_offers && @my_offers.count > 0)

  .context

    %h3 Tiket Offers

    %p= t(".ticket_offers", :default => "Offers made to you by producers will appear here.")

  .document

    - if @reseller_profile

      %table.standalone.zebra
        %thead
          %th Status
          %th Event
          %th Section
          %th Time
          %th Available
          %th Sold
          %th Total
          %th
        %tbody
          - @offers_to_me.each do |offer|
            %tr
              %td= h offer.status
              %td= link_to(offer.event.name, store_event_path(offer.event)) if offer.event
              %td= h offer.section.name if offer.section
              %td= l offer.show.datetime_local_to_event if offer.show
              %td= offer.count - offer.sold
              %td= offer.sold
              %td= offer.count
              %td= reseller_offer_control(offer)

    - if @organization.events.count > 0

      %h3 Ticket offers by you

      %table.standalone.zebra
        %thead
          %th Status
          %th Event
          %th Section
          %th Time
          %th Available
          %th Sold
          %th Total
          %th
        %tbody
          - @my_offers.each do |offer|
            %tr
              %td= h offer.status
              %td= h offer.event.name if offer.event
              %td= h offer.section.name if offer.section
              %td= l offer.show.datetime_local_to_event if offer.show
              %td= offer.available
              %td= offer.sold
              %td= offer.count
              %td= producer_offer_control(offer)

      - if @organization.events.count > 0
        = link_to "Create a ticket offer", new_ticket_offer_path, :class => :cta
      - else
        = link_to "Create an event", new_event_path, :class => :cta

- else

  .document

    %h3 Ticket Offers

    %p= t(".ticket_offers", :default => "Offers made to you by producers will appear here.")

    - if @organization.events.count > 0
      = link_to "Create a ticket offer", new_ticket_offer_path, :class => "cta-left-125"
    - else
      = link_to "Create an event", new_event_path, :class => "cta-left-125"
