= render "shared/error_messages.html", :target => @payment

- content_for :controls do
  - unless current_order.empty?
    #total
      %span Your total is
      .price= number_as_cents current_order.total
    %ol#steps
      %li Customer Information
      -unless current_order.total.zero?
        %li Credit Card Information
      %li Billing Address
      %li Confirmation
    #checkout-now.disabled
    #clear-cart= link_to "Back to Cart", store_order_path(current_order)

= form_tag store_checkout_path, :class => "sliding-wizard" do
  - if @needs_confirmation
    = hidden_field_tag :confirmation, 1
    = render :partial => 'athena_customers/athena_customer.html', :object => @payment.customer
    = render :partial => 'athena_credit_cards/athena_credit_card.html', :object => @payment.credit_card
    = render :partial => 'athena_addresses/athena_address.html', :object => @payment.billing_address

  = render :partial => 'athena_payments/form.html', :locals => {:payment => @payment}
  = submit_tag "Purchase"
= javascript_include_tag "sliding-wizard"

