-content_for :header do
  %h1 Checkout

= render "shared/error_messages.html", :target => @payment

%ul.line-items
  - current_order.purchasable_tickets.each do |item|
    %li= render item
  - current_order.donations.each do |donation|
    %li= render donation
  %li.total
    = "Total: #{number_as_cents current_order.total}"

= form_tag store_checkout_path do
  - if @needs_confirmation
    = hidden_field_tag :confirmation, 1
    = render :partial => 'athena_customers/athena_customer.html', :object => @payment.customer
    = render :partial => 'athena_credit_cards/athena_credit_card.html', :object => @payment.credit_card
    = render :partial => 'athena_addresses/athena_address.html', :object => @payment.billing_address

  = render :partial => 'athena_payments/form.html', :locals => {:payment => @payment}

= link_to "Cancel Order", store_order_path(current_order), :method => :delete, :confirm => 'Are you sure?'
