:javascript
  $(document).ready(function(){
    artfully.configure({
      base_uri: '#{root_url}api/',
      store_uri: '#{root_url}store/',
    });
    #{render :partial => "widgets/event", :locals => { :event => @event } unless @event.nil? }
    #{render :partial => "widgets/donation", :locals => { :organization => @event.organization } if @event.organization.can?(:receive, Donation) }

    // show/hide extended event descriptions
    $('#description #truncated a.toggle, #description #not-truncated a.toggle').click(function() {
      $('#description #truncated').toggle();
      $('#description #not-truncated').toggle();
    })
  });
#store
  #artfully-alert.flash.error
  #event
  
#sidebar
  - unless @event.description.blank?
    #description
      %h2 About
      =image_tag('storefront/event-image-default.jpg', :width => 140, :height => 140) if true #event.image?
      -if @event.description.length > 300
        #truncated
          = simple_format "#{truncate(@event.description, :length => 300)} (#{link_to 'more','#', :class => 'toggle'})"
        #not-truncated{:style => 'display:none;'}
          =simple_format "#{@event.description} (#{link_to 'less','#', :class => 'toggle'})"
      - else
        =simple_format @event.description
  %h2 Venue
  .event-venue
    =link_to image_tag("http://maps.google.com/maps/api/staticmap?size=140x140&maptype=roadmap&markers=color:red|#{@event.venue.address_as_url_query}&sensor=false&zoom=15"), "http://maps.google.com/maps?q=#{@event.venue.address_as_url_query.html_safe}&z=15"
    %div=@event.venue.name
    %div=@event.venue.street_as_string
    %div=@event.venue.city_state_zip_as_string
  - unless @event.contact_email.blank? && @event.contact_phone.blank?
    %h2 Contact
    %ul.kv
    - unless @event.contact_email.blank?
      %li= mail_to @event.contact_email
    - unless @event.contact_phone.blank?
      %li= @event.contact_phone
  - if @event.organization.can?(:receive, Donation)
    #donation
      %h2 Donate