:javascript
  $(document).ready(function(){
    artfully.configure({
      base_uri: '#{root_url}api/',
      store_uri: '#{root_url}store/',
    });
    // #{render :partial => "widgets/event", :locals => { :event => @event } unless @event.nil? }
    // #{render :partial => "widgets/donation", :locals => { :organization => @event.organization } if @event.organization.can?(:receive, Donation) }

    // show/hide extended event descriptions
    $('.truncated a.toggle, .not-truncated a.toggle').click(function(e) {
      $(this).parents('.toggle-truncated').find('.truncated, .not-truncated').toggle();
      return false;
    })

    // toggle a showing's sections
    $('.title').click(function() {
      $(this).siblings('.sections').slideToggle();
      $(this).toggleClass('active');
    })

    // display the first showing's sections
    $('.title').first().siblings('.sections').slideToggle();
    $('.title').first().addClass('active');

    // when calendar is clicked
    $('td.show.upcoming').click(function() {
      $("ul#shows li").hide();
      var date = $(this).attr('data-date');
      $("ul#shows li[data-date='" + date + "']").show();
      $("ul#shows li[data-date='" + date + "'] .title").addClass('active');
      $("ul#shows li[data-date='" + date + "'] .sections").show();
    });

    $('.add-to-cart').submit(function() {
      return false;
    })

    // add tickets to cart
    // jQuery.getJSON(artfully.utils.ticket_uri(params), function(data){
    //   if(data !== null && data.length > 0){
    //     if(data.length < $select.val()){
    //       artfully.alert("Only " + data.length + " ticket(s) could be found for this performance.");
    //     }
    //     artfully.widgets.cart().add(data);
    //   } else {
    //     artfully.alert("Sorry! No tickets were available for purchase at this time.");
    //   }
    // });

    // {'limit': $select.val(),
    //             'show_id': jQuery(this).closest('.performance').data('performance').id,
    //             'price': obj.price
    //           };
  });
#store
  #artfully-alert.flash.error
  #event
    = image_tag('storefront/logo.png', :id => 'logo')
    %h1#logo= @event.name
    %h3#producer= @event.producer

    - @use_calendar = (@event.shows.unplayed.length > 5 || params[:calendar] == 'true')

    %ul#shows
      =render :partial => 'show', :collection => @event.shows.unplayed, :as => :show
    
    =render 'calendar' if @use_calendar
  
#sidebar
  - unless @event.description.blank?
    #description
      %h2 About
      =image_tag('storefront/event-image-default.jpg', :width => 140, :height => 140) if true #event.image?
      -if @event.description.length > 300
        .toggle-truncated
          .truncated
            = simple_format "#{truncate(@event.description, :length => 300)} (#{link_to 'more','#', :class => 'toggle'})"
          .not-truncated{:style => 'display:none;'}
            =simple_format "#{@event.description} (#{link_to 'less','#', :class => 'toggle'})"
      - else
        =simple_format @event.description
  %h2 Venue
  #venue
    =link_to image_tag("http://maps.google.com/maps/api/staticmap?size=140x140&maptype=roadmap&markers=color:red|#{@event.venue.address_as_url_query}&sensor=false&zoom=15"), "http://maps.google.com/maps?q=#{@event.venue.address_as_url_query.html_safe}&z=15"
    %div
      %strong=@event.venue.name
    %div=@event.venue.street_as_string
    %div=@event.venue.city_state_zip_as_string
  - unless @event.contact_email.blank? && @event.contact_phone.blank?
    %h2 Contact
    #contact
      - unless @event.contact_email.blank?
        = mail_to @event.contact_email
        <br />
      - unless @event.contact_phone.blank?
        = @event.contact_phone
  - if @event.organization.can?(:receive, Donation)
    #donation
      %h2 Donate