:javascript
  $(document).ready(function(){
    artfully.configure({
      base_uri: '#{root_url}api/',
      store_uri: '#{root_url}store/',
    });
    #{render :partial => "widgets/event", :locals => { :event => @event } unless @event.nil? }
    #{render :partial => "widgets/donation", :locals => { :organization => @event.organization } if @event.organization.can?(:receive, Donation) }
  });
#store
  #artfully-alert.flash.error
  #event
  
#sidebar
  - unless @event.description.blank?
    %h1 About
    %p=@event.description
  %h1 Venue
  .event-venue
    %div=@event.venue.name
    %div=@event.venue.street_as_string
    %div=@event.venue.city_state_zip_as_string
    %div
      %a.map-link{:href=> "http://maps.google.com/maps?q=#{@event.venue.address_as_url_query.html_safe}&z=15", :target => "_blank"} map
  - unless @event.contact_email.blank? && @event.contact_phone.blank?
    %h1 Contact
    %ul.kv
      %li
        .key Email
        .value= @event.contact_email   
      %li
        .key Phone
        .value= @event.contact_phone    
  - if @event.organization.can?(:receive, Donation)
    #donation
      %h1 Donate

      %p Help support the show by adding a donation to your order!
