- in_section :events
- content_for :header do
  %h1 Take off Sale

.dashboard
  %p= "You are about to take #{pluralize(@selected_tickets.size, 'ticket')} for the #{l @show.datetime_local_to_event } showing of #{@show.event.name} off sale."

  = form_tag off_sale_show_tickets_path, :method => :put do
    = hidden_field_tag :confirmed, :true
    - @selected_tickets.each do |st|
      = hidden_field_tag "selected_tickets[]", st
    %p If this is correct, please click confirm it by clicking here:
    = submit_tag "Take off Sale", :class => "btn"

  %p
    If this is not correct,
    = link_to "cancel this action and return to the show page", event_show_url(@show.event, @show)