- content_for :header do
  %h1 My Credit Cards
%table.normal
  %thead
    %tr
      %th Name
      %th Number
      %th Expiration Date
      %th Actions
  %tbody
    - @credit_cards.each do |credit_card|
      %tr
        %td= credit_card.cardholder_name
        %td= credit_card.card_number
        %td= credit_card.expiration_date.strftime "%m/%Y"
        %td
          = table_icon_link_to :edit, edit_user_credit_card_path(current_user,credit_card)
          = table_icon_link_to :delete, user_credit_card_path(current_user,credit_card), :method => :delete, :confirm => 'Are you sure?'
