- in_section :dashboard
- content_for :header do
  %h1 Credit Cards

= render "shared/error_messages", :target => @customer
= render "shared/error_messages", :target => @credit_card

.spread
  = form_for @credit_card, :url => credit_cards_path do |form|
    - if current_user.customer.nil?
      %h3 Customer Information
      %ul#customer= render :partial => 'athena_customers/form', :locals => { :parent_form => form, :target => @customer }

    %h3 Credit Card Information
    %ul#credit_card= render :partial => 'athena_credit_cards/form', :locals => { :parent_form => form, :target => @credit_card }
    = form.submit "Save Card"
