- content_for :header do
  %h1 Kits Administration

.row
  .span12
    %h3 Kits Awaiting Approval

    #kits
      %table.table#kits-table
        %thead
          %tr
            %th Kit
            %th State
            %th Org Name
            %th Created
            %th Legal Name/EIN
            %th
        %tbody
          -@pending_kits.each do |kit|
          -org = kit.organization
            %tr
              %td= t(kit.type.underscore)
              %td= kit.state
              %td= link_to kit.organization.name, admin_organization_path(org)
              %td= l kit.updated_at, :format => :short
              %td
                = kit.organization.legal_organization_name
                %br
                = kit.organization.ein
              %td
                = link_to "Approve", activate_admin_organization_kit_path(org, kit), :method => :put, :class => 'btn'
                = link_to "Cancel", cancel_admin_organization_kit_path(org, kit), :method => :put, :class => 'btn btn-danger'