- content_for :header do
  %h1 Kits Administration

.context

.document
  %h3 Kits Awaiting Approval

  #kits
    %table.standalone
      %thead
        %tr
          %th Created
          %th Kit
          %th Org Name
          %th Legal Name
          %th EIN
          %th
      %tbody
        -@pending_kits.each do |kit|
        -org = kit.organization
          %tr
            %td= l kit.updated_at, :format => :short
            %td= t(kit.type.underscore)
            %td= link_to kit.organization.name, admin_organization_path(org)
            %td= kit.organization.legal_organization_name
            %td= kit.organization.ein
            %td= link_to "Approve", activate_admin_organization_kit_path(org, kit), :method => :put
