%ul.kv
  - unless order.parent.nil?
    %li
      %h6.key Parent order
      .value=link_to order.parent.id, admin_order_path(order.parent)
  %li
    %h6.key Ordered by
    .value=person
    .value=person.email
  %li
    %h6.key Date
    .value #{(l order.created_at_local_to_organization) unless order.created_at.nil?}
  %li
    %h6.key Amount
    .value #{number_as_cents(total)}
  - if order.nongift_amount > 0
    %li
      %h6.key Non-deductible
      .value #{number_as_cents(order.nongift_amount)}
  %li
    %h6.key Payment method
    .value=(order.payment_method || "")
  %li
    %h6.key Order location
    .value=(order.location || "")
  - if !order.fa_id.nil?
    %li
      %h6.key FA ID
      .value=order.fa_id
  %li
    %h6.key Details
    .value #{order.details}
  %li
    %h6.key-full Special Instructions
  %li
    .value #{order.special_instructions}