- content_for :header do
  %h1 Orders
  %ul.from-here
    %li= link_to "Processed by Artfully", artfully_admin_orders_path
    %li= link_to "All", all_admin_orders_path
    
.spread
  #orders
    %table.standalone.zebra
      %thead
        %tr
          %th ID
          %th FA ID
          %th Date
          %th Organization
          %th Total
          %th Fee
      %tbody
        - @orders.each do |order|
          %tr
            %td=order.id
            %td=order.fa_id
            -unless order.created_at.nil?
              %td= l order.created_at
            %td= link_to order.organization.name, admin_organization_path(order.organization)
            %td= number_to_currency (order.total.to_i / 100)
            %td= number_to_currency (order.service_fee.to_i / 100)

    = will_paginate @orders

