- in_section :events
- content_for :header do
  %h1 Put Tickets on Sale

.compact-spread
  %p= "You are about to put #{pluralize(@selected_tickets.size, 'ticket')} for the #{l @show.datetime_local_to_event } showing of #{@show.event.name} on sale."

  = form_tag on_sale_show_tickets_path, :method => :put do
    = hidden_field_tag :confirmed, :true
    - @selected_tickets.each do |st|
      = hidden_field_tag "selected_tickets[]", st
    %p If this is correct, please click confirm it by clicking
    = submit_tag "Put on Sale"

  %p
    If this is not correct,
    = link_to "cancel this action and return to the show page", event_show_url(@show.event, @show)