- in_section :dashboard

- content_for :header do
  %h1 Dashboard

.sideboard
  %h3 Organization
  %p
    - if current_user.is_in_organization?
      You are a member of organization:
      =link_to current_user.current_organization.name, organization_path(current_user.current_organization)
    - else
      You are not in an organization yet.  Ask your organization administrator to add you, or
      =link_to "create your own.", new_organization_path

  #recently
    %h3 Recently
    - if @recent_actions.blank?
      %p= t(".first-person", :default => "Add your Contacts.")
      = link_to "Add a Contact", new_person_path, :class => :cta
    - else
      %ul.detailed-list
        - @recent_actions.each do |action|
          %li
            %p
              = person_link(action.person)
              = action.sentence

.dashboard
  #events
    %h3 Events
    - if @events.blank?
      %p= t(".first-event", :default => "Create your first Event.")
      = link_to "Create your first Event", new_event_path, :class => :cta
    - else
      = render :partial => 'events/list', :locals => { :events => @events }
