- in_section :dashboard

- content_for :header do
  %h1 Dashboard

.sideboard
  %h3 Organization
  %p
    - if current_user.is_in_organization?
      You are a member of organization:
      =link_to current_user.current_organization.name, organization_path(current_user.current_organization)
    - else
      You are not in an organization yet.  Ask your organization administrator to add you, or
      =link_to "create your own.", new_organization_path

.dashboard
  #events
    %h3 Events
    - if @events.blank?
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula <strong>nisi eget lacus</strong> gravida at iaculis mi luctus. Vestibulum accumsan est eget lacus accumsan a condimentum leo volutpat. In congue rhoncus neque, ut tincidunt quam sagittis eget. In hac habitasse platea dictumst. Quisque non imperdiet magna.
      = link_to "Create your first Event", new_event_path, :class => :cta
    - else
      = render :partial => 'events/list', :locals => { :events => @events }

  #people
    %h3 People
    - if @people.blank?
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula <strong>nisi eget lacus</strong> gravida at iaculis mi luctus. Vestibulum accumsan est eget lacus accumsan a condimentum leo volutpat. In congue rhoncus neque, ut tincidunt quam sagittis eget. In hac habitasse platea dictumst. Quisque non imperdiet magna.
      = link_to "Add a Contact", new_person_path, :class => :cta
    - else
      = render :partial => 'people/list', :locals => { :people => @people }


.sideboard
  %h3 Overview
  - if @events.blank?
    %p You don't have any events yet!
  - else
    = render :partial => 'events/glances', :locals => { :events => @events } unless @events.blank?
