:css
  .hero-unit {
    color: #fff;
    background: #000 url('#{image_path('index/hero.png')}') no-repeat 0 -80px;
    margin-top: -25px;
    padding-bottom: 0;
    padding-top: 180px;
  }

  .hero-unit h1, .hero-unit h2, .hero-unit h3, .hero-unit h4, .hero-unit p {
    color: white;
    text-shadow: 1px 1px 6px #000;
    font-family: Helvetica, Arial, sans-serif;
  }

  .hero-unit h1 {
    margin-bottom: 30px;
    letter-spacing: 3px;
    word-spacing: 0px;
  }

  .hero-unit p {
    padding-bottom: 30px;
  }

  .landing-section {
    padding-bottom: 40px;
    margin-top: 50px;
    border-bottom: 5px solid #eee;
  }

  .center {
    text-align: center;
  }

  .row.good-guys {
    margin-bottom: 30px;
  }

  .hero-unit {
    text-align: center;
  }

  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ol#success li {
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
  }

  ol#success li p {
    margin: 0;
  }

  ol#success li .number {
    color: #2086a6;
    font-family: 'Bree Serif', Helvetica, Arial, sans-serif !important;
    font-size: 35px;
    background: url(#{image_path('index/number.png')}) no-repeat;
    width: 66px;
    height: 43px;
    float: left;
    margin-right: 10px;
    text-align: center;
    padding-top: 23px;
    text-shadow: 1px 1px 1px #fff;
  }

  p.ps {
    color: #666;
  }

.hero-unit
  %h1.raleway Grow Your Audience by Organizing Your Data
  %p
    Artful.ly is an online system to manage your tickets, donations and contacts. <br />
    It’s a simple, elegant way to keep track of events, people, and your everyday work.

.landing-section
  %h1 How to Work Artful.ly
  .row
    .span8
      %h5 Sell Where You Are.
      %p Artful.ly lets you sell tickets and take donations on your own website. No more redirecting your patrons to other sites for transactions, no log-ins, no more losing customers in between the transfers. Our widget drops onto your site, so visitors are looking at your events, images, words, and videos. You can keep the focus and the web traffic where they belong – on you!

      %h5 Make Giving Easy.
      %p Selling tickets is one way to get revenue, but donations are another. Artful.ly lets you do it all: ticketing, fundraising, or a donation added on to a ticket. If you are fiscally sponsored by Fractured Atlas or a registered 501(c)(3), your donations will be tax-deductible. Make it easier for your supporters to contribute in every way!

      %h5 Search at the Speed of Thought.
      %p How do you find what you need in a sea of data? Artful.ly lets you tag contacts and actions for easy retrieval (like you already do on Twitter or Wordpress). With your personalized tags, you can run a search or create a report based on your own criteria. You know your data needs better than we do, so we’ll skip the canned reports that no one uses.

    .span8.center
      = image_tag('index/screenshot-display.png')

  .row
    .span6
      %h5 Secure Your Data.
      %p We take security very seriously. You can trust that your data – and your customers’ data – is safe, private, and protected. Artful.ly is hosted in Amazon’s industry-leading data centers (the same used by Netflix, FourSquare and HootSuite), where the smartest people in the business are responsible for hardware and network-level security. Sensitive information, like credit card numbers, is transmitted using banking-grade encryption.

    .span5
      %h5 Keep it All in One Place.
      %p Artful.ly isn’t just about tickets. It’s about supporters in all forms: audiences, donors, friends, and colleagues. You can finally keep contacts in one place, instead of scattered in your email, spreadsheets, paper files, business cards, social networks, post its, or even written on your hand. And now you can integrate contacts with their actions – no more scrambling to remember how many shows your star donor has seen in the past year.

    .span5
      %h5 Don’t Waste Money.
      %p If you’re not selling tickets, you aren’t getting charged. It’s that simple. No need to commit to a contract before you’ve planned your season. It’s free to set up ticketing, donations, or contact management.  The credit card companies assess processing fees which we have to pass along; these amount to 3.5% of ticket sales or donations processed by Artful.ly. But that’s it! No fine print. We know your money is precious, so we aren’t going to waste it.

  .row
    .span6
      %h5 Simple to Use.
      %p Artful.ly is all online – all you need is a browser - and takes just a few seconds to sign up. We’ve worked hard to make the simple things easy and the complicated things possible. Your art is what matters – software shouldn’t get in the way.

    .span5
      %h5 Be Creative.
      %p It’s not just about data! It’s about creative, ingenious, life-changing art that you make. Data, records, and tracking are just what helps you get people to that art.  Fractured Atlas exists to support your work!

    .span5
      %h5 Keep it Yours.
      %p Your data is yours to keep, period. It’s yours to use when you want, as you want. We guarantee that you’ll always be able to get an export from Artful.ly.

.landing-section
  %h1 Go with the Good Guys

  .row.good-guys
    .span8
      %h5 Start with 19,000 Artists.
      %p If we know anything, it’s artists. At Fractured Atlas, we help thousands of members navigate insurance, fundraising, and technology for their arts businesses. We’ve learned a lot  from a decade of hearing about their daily challenges and celebrating their successes. With 19,000 members in 50 states and many countries, we understand what you need – sell tickets, accept donations, and keep track of your own contacts in one place. Whether you are a choreographer, gallery, theater company, band, filmmaker, writer, craft artist, or all of the above, we are here to help.
    .span8
      = image_tag('index/good-guys-artists.jpg')

  .row.good-guys
    .span8
      = image_tag('index/good-guys-listen.png')

    .span8
      %h5 Listen Closely.
      %p We didn’t just stop with our members – we took it on the road. Artful.ly was designed by artists and administrators from across the country. Design participants in New York, San Francisco, Philadelphia and Minneapolis / St. Paul told us what they needed, and we listened. Artful.ly’s original requirements came directly from the mouths of artists. We’re excited to give you what you want, and even more excited to roll out a wish list of new features built on best practices over the coming years!

  .row.good-guys
    .span8
      %h5 Add a Bunch of Geeks.
      %p Fractured Atlas has a secret weapon – we speak geek. We have a stellar team of software developers who are focused solely on creating products for you. Our staff works to translate artist needs into software code. You can be sure that you’re getting the most up-to-date, innovative technology solutions from us.

    .span8
      = image_tag('index/good-guys-geeks.gif')

  .row.good-guys
    .span8
      = image_tag('index/good-guys-work.jpg')

    .span8
      %h5 Work Like Hell.
      %p We’ve been working hard to make these ideas a reality. Our team has dreamt, planned, prioritized, implemented, tested, and retested to make sure you’re getting the best system possible. We never sit back on our heels – we’ll be making improvements and updates all the time.

  .row.good-guys
    .span8
      %h5 Best. Service. Ever.
      %p Sooner or later, something’s going to go wrong. Don’t panic! Our online knowledge base includes articles and tips to get you back on track without a hitch. And if you can’t figure it out yourself, the same stellar service that you have come to enjoy with Fractured Atlas’s other programs is just an email or phone call away.

    .span8
      = image_tag('index/good-guys-service.png')

.landing-section
  %h1 Don’t just take our word for it!

  .row
    .span5
      %blockquote
        %p “This is one of the greatest organizations I've ever been part of.”
        %small John Turnbull, writer & editor, GA

    .span5
      %blockquote
        %p “I'm a member of many arts organizations that were created to 'support' the indie filmmaker and NONE of them begin to compare. Finally after years of struggling to find resources everything became available to me when I joined Fractured Atlas.”
        %small Paul Bright, filmmaker, TX

    .span6
      %blockquote
        %p “It's very obvious that it has a great deal of potential from an already solid starting base. I truly appreciate the clean aesthetic of the software. Directors, like myself, don't have time for a great deal of clutter. Artful.ly gets straight to the punch. I'm also impressed with how quickly changes/upgrades based on user recommendations have been made. It shows the Fractured Atlas staff is open to opinions of the user base.”
        %small Doc Waller, The Layman Group, GA

.landing-section
  .row
    .span10.offset3
      %h1.center 8 Ways Artful.ly Gives You the Keys to Your Own Success:

      %ol#success
        %li
          .number
            1
          %h4 Sell tickets on your own site.
          %p No ugly pop ups.  No sending your patrons away to another site.

        %li
          .number
            2
          %h4 See the big picture.
          %p View a patron’s entire history on a single dashboard interface—ticket purchases, donations, solicitations, and more.

        %li
          .number
            3
          %h4 Recognize relationships, not just transactions.
          %p Create tags, define connections, and sort notes to suit your needs.

        %li
          .number
            4
          %h4 Work intuitively.
          %p Artful.ly's clean design that’s uncluttered by tools you don’t need.

        %li
          .number
            5
          %h4 Use it now.
          %p No sign up fees. No installation. No week-long trainings. Easy imports.

        %li
          .number
            6
          %h4 Access anywhere.
          %p Log in at the office, at home, at the show, or on the road.

        %li
          .number
            7
          %h4 Own your data.
          %p Your data belongs to you forever, no matter what. Exports are easy, fast, and free.

        %li
          .number
            8
          %h4 Rest easy.
          %p You’ve partnered with Fractured Atlas, a national non-profit that’s been serving the arts community since 1998.

.landing-section
  .row
    .span6
      %h1 What Artful.ly Is Not

    .span10
      %blockquote
        %p This isn’t a complicated merchant services account adapted to a shopping cart for tickets, it’s not an expensive massive patron services database one hosts on site, it’s not a sports ticket system pushed into use for a performance venue, it’s not software adapted from another sales system. It’s a ground-up, powerful yet light-weight, user friendly arts centered system with strong commitment from a service oriented developer.
        %small Ian Garret, Fresh Arts, TX

.landing-section
  .row
    .span8.offset4
      %h1.center Are You Ready to Work Artful.ly?

      %p We’ve used your insights to create a ticketing and contact management system tailored to your needs. Manage the essentials of your arts business in one place!

      .div.center{:style => 'margin-bottom: 30px;'}
        = link_to 'Register for your FREE account', sign_up_path, :class => 'btn primary'

      %p.ps PS: We created Artful.ly because we know and serve 19,000 artists nationwide.  We built software for our self a few years ago and it radically improved operations. We wanted to help other artists realize how much of a difference good technology can make.

      %p.ps
        PPS:  Artful.ly is web-based software so there’s no installation, no updates, no need to call the tech guy.
        = link_to 'Sign up to try it today!', sign_up_path

      %p.ps{:style => 'margin-bottom: 30px;'}
        PPPS:  You obviously like to be thorough and read a lot.  We love that!  Want more?
        = link_to 'Check out some FAQs.', faq_path

      %p.center
        = link_to image_tag('index/fa-logo.png'), 'http://www.fracturedatlas.org', :target => '_blank'
