:css
  .post {
    margin-bottom: 50px;
  }
  .post h6, .post h5 {
    line-height: 24px;
  }

%h1.raleway Updates

.row
  .span8
    .post
      %h5 Help Us Help You: Fundraisers, Benefits, and Galas
      %h6 Selena Juneau-Vogel | Jan 9, 2012 11:40 am
      %p
        Ah, January. The month for new beginnings, putting things in order, getting in shape, and geeking-out about fundraisers. Wait…what?
      %p
        But really, what are your business resolutions for 2012? Keep better track of your ticket buyers? Sell some tickets with a papering service? Remind your patrons about your work more often so they don’t ignore your year-end [...]
      %p
        = link_to 'read more »'

    .post
      %h5 Help Us Help You: Fundraisers, Benefits, and Galas
      %h6 Selena Juneau-Vogel | Jan 9, 2012 11:40 am
      %p
        Ah, January. The month for new beginnings, putting things in order, getting in shape, and geeking-out about fundraisers. Wait…what?
      %p
        But really, what are your business resolutions for 2012? Keep better track of your ticket buyers? Sell some tickets with a papering service? Remind your patrons about your work more often so they don’t ignore your year-end [...]
      %p
        = link_to 'read more »'

    .post
      %h5 Help Us Help You: Fundraisers, Benefits, and Galas
      %h6 Selena Juneau-Vogel | Jan 9, 2012 11:40 am
      %p
        Ah, January. The month for new beginnings, putting things in order, getting in shape, and geeking-out about fundraisers. Wait…what?
      %p
        But really, what are your business resolutions for 2012? Keep better track of your ticket buyers? Sell some tickets with a papering service? Remind your patrons about your work more often so they don’t ignore your year-end [...]
      %p
        = link_to 'read more »'

    .post
      %h5 Help Us Help You: Fundraisers, Benefits, and Galas
      %h6 Selena Juneau-Vogel | Jan 9, 2012 11:40 am
      %p
        Ah, January. The month for new beginnings, putting things in order, getting in shape, and geeking-out about fundraisers. Wait…what?
      %p
        But really, what are your business resolutions for 2012? Keep better track of your ticket buyers? Sell some tickets with a papering service? Remind your patrons about your work more often so they don’t ignore your year-end [...]
      %p
        = link_to 'read more »'

  .span4.offset1
    %p
      = image_tag('index/envelope.png', :style => 'vertical-align:text-bottom;')
      #{link_to 'Subscribe'} to the Artful.ly e-news list for other updates, tips, and news.
    %p Currently available planned features are listed on the #{link_to 'Features Page', features_path}.
