:css
  .post {
    margin-bottom: 50px;
  }
  .post h6, .post h5 {
    line-height: 24px;
  }
  .post h5 a {
    color: #333;
  }
  .post h5 a:hover {
    color: #0069D6;
  }

%h1.page-title Updates

.row
  .span8
    -@posts.each do |post|
      .post
        %h5=link_to post[:title], post[:link]
        %h6= post[:byline]
        = simple_format post[:entry].gsub('Read More »', '').gsub("\n","\n\n")
        %p
          = link_to 'Read More »', post[:link]

  .span4.offset1
    %p
      = image_tag('index/envelope.png', :style => 'vertical-align:text-bottom;')
      #{link_to 'Subscribe'} to the Artful.ly e-news list for other updates, tips, and news.
    %p Currently available planned features are listed on the #{link_to 'Features Page', features_path}.
