= parent_form.fields_for target do |kit_form|
  %li
    .label= kit_form.label :legal_organization_name, "Legal Organization Name"
    .element= kit_form.text_field :legal_organization_name

  %li
    .label= kit_form.label :ein, "EIN"
    .element= kit_form.text_field :ein
