%h3 Kits
#kits
  .table-controls
  %table
    %thead
      %tr
        %th Name
        %th Status
        %th Actions
    %tbody
      - @kits_hash.each do |kit_type, kit|
        %tr
          %td= kit_type

          - if kit.nil?
            %td 
            - if kit_type == "TicketingKit"
              %td= link_to "Add Ticketing Kit", kits_path(:type => "TicketingKit"), :method => :post
            - else
              %td= link_to "Add Donation Kit", new_donation_kit_path

          - else
            %td= kit.state.titleize
            -if kit.new?
              %td= link_to "Activate #{kit.type}", kit_path(kit), :method => :put
            -elsif kit.pending?
              %td= "Pending"
            -elsif kit.activated?
              %td= "Activated"
            -elsif kit.cancelled?
              %td= link_to "Reactivate #{kit.type}", kit_path(kit), :method => :put