%h3 Kits
= link_to "Add Ticketing Kit", kits_path(:type => "TicketingKit"), :method => :post
= link_to "Add Donation Kit", new_donation_kit_path

#kits
  .table-controls
  %table
    %thead
      %tr
        %th Name
        %th Status
        %th Actions
    %tbody
      - @kits.each do |kit|
        %tr
          %td= kit.type
          %td= kit.state.titleize
          -if kit.new?
            %td= link_to "Activate #{kit.type}", kit_path(kit), :method => :put
          -elsif kit.pending?
            %td= "Pending"
          -elsif kit.activated?
            %td= "Activated"
          -elsif kit.cancelled?
            %td= link_to "Reactivate #{kit.type}", kit_path(kit), :method => :put