%h2 Kits
%table#kit-table.standalone
  %tbody
    %tr
      %td.status=check_mark :huge
      %td.type
        .kit-type Free Ticketing
        %p='Take reservations for free events'
    %tr
      %td.status=check_mark :huge
      %td.type
        .kit-type People Management
        %p='Manage your contacts and patrons'
    - kits.each do |kit|
      %tr
        -if can? :manage, current_user.current_organization
          - if kit.fresh?
            %td.status= link_to "Add", new_kit_path(:type => kit.type.underscore), :class => "btn"
          - elsif kit.cancelled? && kit.type == "SponsoredDonationKit"
            - #%td= "Contact support@artful.ly to learn about Fiscal Sponsorship for your organization"
            %td.status= link_to "Add", "#", :class => "btn disabled"
          - elsif kit.cancelled?
            %td
          - elsif kit.pending?
            %td.status=icon_tag '11-clock@2x', :alt=>'pending'
          - elsif kit.activated?
            %td.status=check_mark :huge, 'activated'
          - else
            %td.status= kit.state.titleize
        -else
          %td
        %td.type
          .kit-type= kit.friendly_name
          %p= kit_message(kit)