-content_for :header do
  %h1 Kits

%table.normal.fullwidth
  %thead
    %tr
      %th Name
      %th Status
  %tbody
    - current_user.current_organization.kits.each do |kit|
      %tr
        %td= kit.class
        %td
          - if kit.activated?
            = "Active"
          - else
            = link_to "Reactivate Ticketing Kit", kit_path(kit), :method => :put

    - @kits.each do |kit|
      %tr
        %td= kit.class
        %td= link_to "Activate Ticketing Kit", kits_path(:type => kit.type), :method => :post
