= parent_form.fields_for target do |action_form|
  %li
    .label= action_form.label :action_subtype, "Action SubType"
    .element= action_form.select :action_subtype, options_for_select( target.hear_action_subtypes, target.action_subtype )

  -unless :creator
    %li
      .label= action_form.label :creator, "Created By"
      .element= action_form.text_field :creator, :disabled => true

  %li
    .label= action_form.label :occurred_at, "Action date/time"
    .element
      = action_form.text_field :occurred_at, { :value => "#{(l target.occurred_at, :format => :date_for_input) unless target.occurred_at.nil?}", :class=>'datepicker hasDatePicker'}
      = action_form.time_select :occurred_at, :value => target

  -unless :timestamp
    %li
      .label= action_form.label :timestamp, "Created On"
      .element= action_form.text_field :timestamp, :disabled => true

  %li
    .label= action_form.label :details, "Details"
    .element= action_form.text_area :details


