%table.zebra.sortedstar#action-list
  %thead
    %tr
      %th.starred &#10029;
      %th Date Occurred
      %th Type
      %th Details
      %th &nbsp;
  %tbody
    - if person.actions.empty?
      %tr
        %td
        %td No actions for this person
        %td
        %td
        %td
    - else
      - actions.each do |action|
        %tr
          %td.starred.starable{"data-person-id" => person.id, "data-type" => 'action', "data-action-id" => action.id }= (action.starred? ? "&#10029;" : "&#10025;").html_safe
          %td= l action.occurred_at.in_time_zone(current_user.current_organization.time_zone), :format => :short unless action.occurred_at.nil?
          %td="#{action.action_type.capitalize} - #{action.subtype unless action.subtype.nil?}"
          %td= truncate(action.details, :length => 80, :separator => ' ', :omission => '...')
          %td
            =link_to("Edit", edit_person_action_path(person, action, :format => :html, :type => :hear), :class => "popup-link", :remote => true) if action.action_type == "Hear"
            =link_to("Edit", edit_person_action_path(person, action, :type => :give), :class => "popup-link", :remote => true) if action.action_type == "Give" unless action.creator_id.nil?