%ul.dash
  %li
    = link_to kits_path do
      = image_tag "icons/dashboard/15.png"
      %span Kits
  %li
    =link_to user_credit_cards_path(current_user) do
      = image_tag "icons/dashboard/2.png"
      %span Credit Cards
  %li
    =link_to charts_path do
      = image_tag "icons/dashboard/1.png"
      %span Charts
  %li
    =link_to events_path do
      = image_tag "icons/dashboard/1.png"
      %span Events