= parent_form.fields_for target do |customer_form|
  %p
    = customer_form.label :first_name, "First Name"
    = customer_form.text_field :first_name
  %p
    = customer_form.label :last_name, "Last Name"
    = customer_form.text_field :last_name
  %p
    = customer_form.label :phone, "Phone"
    = customer_form.text_field :phone
  %p
    = customer_form.label :email, "Email"
    = customer_form.text_field :email
