= parent_form.fields_for target do |customer_form|
  .control-group
    = label_tag "", "First & Last Name", :class => "control-label"
    .controls
      = customer_form.text_field :first_name, :class => "span3"
      = customer_form.text_field :last_name, :class => "span3"
      = customer_form.error_message_on(:first_name, :prepend_text => "First name ", :css_class => "form-error")
      = customer_form.error_message_on(:last_name, :prepend_text => "Last name ", :css_class => "form-error")

  .control-group
    = customer_form.label :phone, "Phone", :class => "control-label"
    .controls
      = customer_form.text_field :phone, :class => "span6"
      = customer_form.error_message_on(:phone, :prepend_text => "Phone ", :css_class => "form-error")
  
  .control-group
    = customer_form.label :email, "Email", :class => "control-label"
    .controls
      = customer_form.text_field :email, :class => "span6"
      = customer_form.error_message_on(:email, :prepend_text => "Email  ", :css_class => "form-error")
