-content_for :header do
  %h1 Become a Producer

%p Please enter your credit card information.
= form_for @user_role do |f|
  = render "shared/error_messages", :target => @customer
  = render "shared/error_messages", :target => @credit_card
  = render "shared/error_messages", :target => @organization

  %h2 Customer Information
  = render :partial => 'athena_customers/form', :locals => { :parent_form => f , :target => @customer}
  %h2 Credit Card Information
  = render :partial => 'athena_credit_cards/form', :locals => { :parent_form => f , :target => @credit_card }
  %h2 Organization
  = render :partial => 'organizations/form', :locals => { :parent_form => f, :target => @organization }
  = submit_tag "Submit"
