%ul.detailed-list#of_performances
  %li
    %h4= link_to (l DateTime.civil(2010,6,23,12,00,00), :format => :short), statement_path(4), :title => 'performance-datetime'
  %li
    %h4= link_to (l DateTime.civil(2010,6,24,12,00,00), :format => :short), statement_path(4), :title => 'performance-datetime'
  %li
    %h4= link_to (l DateTime.civil(2010,6,25,12,00,00), :format => :short), statement_path(4), :title => 'performance-datetime'
  %li
    %h4= link_to (l DateTime.civil(2010,6,26,12,00,00), :format => :short), statement_path(4), :title => 'performance-datetime'
    %ul.controls
      %li= link_to "View", event_performance_path(2, 4)