- in_section :reports
- content_for :header do
  %h1= t(".heading", :default => "Statement Reports")
  %h2= t(".subheading", :default => "View statements for your shows")

.context
  %h3 About
  %p= t(".about")
.document
  %h3 Events
  - if @events.blank?
    = link_to "Create an Event", new_event_path, :class => 'cta-left-125'
  - else
    %ul.detailed-list
      - @events.each do |event|
        %li
          %h4= link_to event.name, statements_path(:event_id => event.id), :title => 'event-name'