- in_section :reports
- content_for :header do
  %h1= t(".heading", :default => "Statements")

.row
  .span3
    %h3 Shows
    = render :partial => "shows", :locals => { :event => @event, :shows => @shows }
  .span9
  
    .bottom-room

      -if @statement.nil?
        %p
          Please select a show
      -else
        %h3="#{@event.name} #{l @statement.datetime, :format => :short}"
        = render :partial => 'top_stats', :locals => { :statement => @statement }
        #statement_table
          = render :partial => 'payment_method_table', :locals => { :statement => @statement }