- in_section :reports
- content_for :header do
  %h1= t(".heading", :default => "Statements")

.row
  .span3
    %h3 Shows
    = render :partial => "played_shows", :locals => { :event => @event, :played => @played }
  .span9
  
    .bottom-room

      -if @statement.nil?
        %p
          Please select a show
      -else
        %h3=l @statement.datetime, :format => :short
        #statement-summary.bottom-room.well
          .row-fluid
            .span3
              .center.headline-stat
                304
              .center.headline-caption
                %h6 TICKETS SOLD
            .span3
              .center.headline-stat
                $21,300.00
              .center.headline-caption
                %h6 GROSS
            .span3
              .center.headline-stat
                $3,034.11
              .center.headline-caption
                %h6 DUE
            .span3
              .center.headline-stat
                $3,034.11
              .center.headline-caption
                %h6 SETTLED
        #statement_table
          %table.standalone.table
            %thead
              %tr
                %th Payment Method
                %th{:style=>'width:100px'} Tickets Sold
                - if @show.ticket_offers.count > 0
                  %th{:style=>'width:100px'} Reseller Sales
                %th{:style=>'width:100px'} Gross
                %th{:style=>'width:100px'} Processing
                %th{:style=>'width:100px'} Net
            %tbody
              %tr
                %td Credit Card
                %td=1002
                - if @show.ticket_offers.count > 0
                  %td= @show.reseller_sold_count
                %td
                  %strong=number_as_cents 2030000
                %td=number_as_cents 49999
                %td=number_as_cents 303411
              %tr
                %td Cash
                %td=1002
                - if @show.ticket_offers.count > 0
                  %td= @show.reseller_sold_count
                %td
                  %strong=number_as_cents @statement.gross_revenue
                %td=number_as_cents @statement.processing
                %td=number_as_cents @statement.net_revenue
              %tr
                %td Comp
                %td=2
                - if @show.ticket_offers.count > 0
                  %td= @show.reseller_sold_count
                %td
                  %strong=number_as_cents 0
                %td=number_as_cents 0
                %td=number_as_cents 0