%h2= "Your organization #{@organization.name} has applied for a DonationKit in Artful.ly with the following details:"

%ul
  %li= "Organization Name: #{@organization.name}"
  %li= "Taxable Organization Name: #{@organization.taxable_organization_name}"
  %li= "EIN: #{@organization.ein}"

To complete this activation, you must fax or email your IRS Determination Letter to FracturedAtlas.