%h2 The ticket reseller #{@reseller.name} has accepted the following offer.

%ul
  %li Event:   #{@event.name}
  %li Show:    #{@show.show_time}
  %li Section: #{@section.name}
  %li Tickets: #{pluralize @ticket_offer.count, "ticket"}
