= form_for section, :url => chart_sections_path(@chart, @section) do |form|
  %ul
    %li
      .label= form.label :name, "Name"
      .element
        = form.text_field :name
        .description Examples: "Orchestra", "General Admission", "Nosebleed".
    %li
      .label= form.label :capacity, "Capacity"
      .element= form.text_field :capacity
    %li
      - if can? :create, :paid_events
        .label= form.label :price, "Price"
        .element= form.text_field :price, :class => :currency, :value => number_as_cents(section.price)
      - else
        .label= form.label :price, "Price"
        .element
          = form.text_field :price,   { :class => :currency,:value => number_as_cents(section.price), :disabled => 'disabled' }
          = form.hidden_field :price, :value => 0
          .description= "#{link_to "Upgrade your account", organization_path(current_user.current_organization)} to create prices on your tickets.".html_safe
  = form.submit