= parent_form.fields_for target do |section_form|
  %li
    .label
      = section_form.label :name, "Name"
    .element
      = section_form.text_field :name
  %li
    .label
      = section_form.label :capacity, "Capacity"
    .element
      = section_form.text_field :capacity
  %li
    - if can? :create_paid_events, AthenaEvent.new
      .label
        = section_form.label :price, "Price"
      .element
        = section_form.text_field :price, :class => :currency, :value => number_as_cents(target.price)
    - else
      .label
        = section_form.label :price, "Price"
      .element
        = section_form.text_field :price, { :class => :currency, :value => number_as_cents(0), :disabled => 'disabled' }
        = hidden_field_tag "athena_section[athena_section][price]", 0
        .description 
          :erb
            <%=link_to "Upgrade your account", kits_path %> to create prices on your tickets.
