= parent_form.fields_for target do |section_form|
  %li
    .label
      = section_form.label :name, "Name"
    .element
      = section_form.text_field :name
  %li
    .label
      = section_form.label :capacity, "Capacity"
    .element
      = section_form.text_field :capacity
  %li
    .label
      = section_form.label :price, "Price"
    .element
      = section_form.text_field :price, :class => :currency, :value => number_as_cents(target.price)