= parent_form.fields_for target do |section_form|
  %p
    = section_form.label :name, "Name"
    = section_form.text_field :name
  %p
    = section_form.label :capacity, "Capacity"
    = section_form.text_field :capacity
  %p
    = section_form.label :price, "Price"
    = section_form.text_field :price