= parent_form.fields_for target do |event_form|
  %p
    = event_form.label :name, "Name"
    = event_form.text_field :name
  %p
    = event_form.label :venue, "Venue"
    = event_form.text_field :venue
  %p
    = event_form.label :city, "City"
    = event_form.text_field :city
  %p
    = event_form.label :state, "State"
    = event_form.select :state, options_for_select( target.valid_locales, target.state )
  %p    
    = event_form.label :time_zone, "Time Zone"
    = event_form.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones
    -#    = event_form.select :time_zone, options_for_select( target.us_time_zones, target.time_zone )
  %p
    = event_form.label :producer, "Producer"
    = event_form.text_field :producer

  