%h3 At a Glance
- if report.nil?
  %p Report not yet available.
- else
  %ul
    %li
      %h4 Tickets
      %ul.report
        %li
          %span.stat On Sale
          %span.current= report.available_total
        %li
          %span.stat Sold
          %span.current= report.sold_total
          %span.alternative= "(#{report.comped_total} Comped)"
        %li
          %span.stat Sold Today
          %span.current= report.sold_today
          %span.alternative= "(#{report.comped_today} Comped)"
        %li
          %span.stat Total Played
          %span.current= report.sold_played
          %span.alternative= "(#{report.comped_played} Comped)"
    %li
      - if !@event.is_free?
        %h4 Revenue
        %ul.report
          %li
            %span.stat Total Sales
            %span.current= number_as_cents(report.sales_total)

          %li
            %span.stat Sold Today
            %span.current= number_as_cents(report.sales_today)

          %li
            %span.stat Advance Sales
            %span.current= number_as_cents(report.sales_advance)

          %li
            %span.stat Total Played
            %span.current= number_as_cents(report.sales_played)

          %li
            %span.stat Potential Remaining
            %span.current= number_as_cents(report.potential_remaining)

          %li
            %span.stat Original Potential
            %span.current= number_as_cents(report.potential_original)