%h3 At a Glance
- if report.nil?
  %p Report not yet available.
- else
  %ul#event.reports
    %li
      %h4 Revenue
      %ul.report
        %li
          %span.stat Advance Sales
          %span.current= number_to_currency(report.revenue.advance_sales.net)
          %span.total= "/ #{number_to_currency(report.revenue.advance_sales.gross)}"

        %li
          %span.stat Sold Today
          %span.current= number_to_currency(report.revenue.sold_today.net)
          %span.total= "/ #{number_to_currency(report.revenue.sold_today.gross)}"

        %li
          %span.stat Potential Remaining
          %span.current= number_to_currency(report.revenue.potential_remaining.net)
          %span.total= "/ #{number_to_currency(report.revenue.potential_remaining.gross)}"

        %li
          %span.stat Original Potential
          %span.current= number_to_currency(report.revenue.original_potential.net)
          %span.total= "/ #{number_to_currency(report.revenue.original_potential.gross)}"

        %li
          %span.stat Total Sales
          %span.current= number_to_currency(report.revenue.total_sales.net)
          %span.total= "/ #{number_to_currency(report.revenue.total_sales.gross)}"

        %li
          %span.stat Total Played
          %span.current= number_to_currency(report.revenue.total_played.net)
          %span.total= "/ #{number_to_currency(report.revenue.advance_sales.gross)}"
    %li
      %h4 Tickets
      %ul.report
        %li
          %span.stat Remaining
          %span.current= report.tickets.available
        %li
          %span.stat Sold
          %span.current= report.tickets.sold.gross
          %span.alternative= "(#{report.tickets.sold.comped} Comped)"
        %li
          %span.stat Sold Today
          %span.current= report.tickets.sold_today.gross
          %span.alternative= "(#{report.tickets.sold_today.comped} Comped)"
        %li
          %span.stat Total Played
          %span.current= report.tickets.played.gross