= render "shared/error_messages", :target => @performance

.sub-container#performance-container
  %h2 Performances
  %div{:style=>'text-align:right'}
    =link_to image_tag("icons/small_icons/Add.png") + " Add New Performance", event_performances_path(event, performance), {:id=>'new-performance-button', :class => 'table_icon new-performance-link', :style=>'float:none;text-decoration:none;'}
  %table#performance-table.normal.tablesorter.fullwidth
    %thead
      %tr
        %th Weekday
        %th Date
        %th Time
        %th Chart
        %th Status
        %th Actions
        %th Tickets
    %tbody
      = render :partial => 'performances/new_performance_for_table', :locals => { :event => @event, :performance=>@performance }
      - if event.performances.empty?
        %tr
          %td{:colspan=>'6'}
            You haven't created any performances yet!
            =link_to "Create a performance now", new_event_performance_path(event), {:class=>'new-performance-link'}
      - else
        - event.performances.each do |performance|
          %tr{:class => (performance.on_sale? ? "selected" : nil)}
            %td= l performance.datetime, :format => :day
            %td= l performance.datetime, :format => :long_date
            %td= l performance.datetime.in_time_zone(@event.time_zone), :format => :time
            %td= link_to performance.chart.name, chart_path(performance.chart) unless performance.chart.nil?
            %td= t performance.state, :scope => "athena_performance.state"
            %td.actions
              = table_icon_link_to :view, performance_path(performance)
              = table_icon_link_to :copy, duplicate_performance_path(performance)
              = table_icon_link_to :edit, edit_event_performance_path(event, performance) if can?(:edit, performance)
              = table_icon_link_to :delete, event_performance_path(event, performance), :confirm => "Are you sure?", :method => :delete if can?(:destroy, performance)
            %td.tickets
              - unless performance.pending?
                = link_to "View Tickets", performance_path(performance)
              - else
                = link_to "Create Tickets", create_tickets_for_performance_path(performance)