- unless event.performances.empty?
  .sub-container#performance-container
    %h2 Performances

    %table#performance-table.normal.tablesorter
      %thead
        %tr
          %th Weekday
          %th Date
          %th Time
          %th Chart
          %th Actions
          %th Tickets
      %tbody
        - event.performances.each do |performance|
          %tr
            %td.day-of-week-display= performance.day_of_week
            %td= performance.formatted_performance_date
            %td= performance.formatted_performance_time
            %td= link_to performance.chart.name, chart_path(performance.chart) unless performance.chart.nil?
            %td.actions
              = table_icon_link_to :view, performance_path(performance)
              = table_icon_link_to :copy, duplicate_performance_path(performance)
              = table_icon_link_to :edit, edit_event_performance_path(event, performance) if can?(:edit, performance)
              = table_icon_link_to :delete, event_performance_path(event, performance), :confirm => "Are you sure?", :method => :delete if can?(:destroy, performance)
            %td.tickets
              - if performance.tickets_created?
                = table_icon_link_to "View Tickets", performance_path(performance)
              - else
                = table_icon_link_to "Create Tickets", create_tickets_for_performance_path(performance)