.fields.section-fields
  .control-group
    =f.label :name, "Name", :class => 'control-label'
    .controls
      =f.text_field :name, :placeholder => 'Type 1'
      
  .control-group
    =f.label :description, "Description", :class => 'control-label'
    .controls
      =f.text_area :description, :size => '10x5'

  .control-group
    =f.label :price, "Price", :class => 'control-label'
    .controls
      .input-prepend
        %span.add-on $
        - if can? :create, :paid_events
          =f.text_field :price, :placeholder => '0.00', :class => 'input-small section-price', :value => number_as_cents(f.object.price, :format => "%n")
        - else
          %span.section-price-disabled{'data-toggle' => "modal", 'data-target' => "#request-paid-ticket-kit"}
            =f.text_field :price, :placeholder => '0.00', :class => 'input-small disabled section-price-disabled', :value => number_as_cents(f.object.price, :format => "%n"), :disabled => 'disabled'
            %p
              %a{:href=>"#"} Paid Ticketing Kit not enabled.

  .control-group
    =f.label :capacity, "Capacity", :class => 'control-label'
    .controls
      =f.text_field :capacity, :class => 'span1'
      
      - show_remove_links = true if show_remove_links.nil?
      - if show_remove_links
        %span.remove-fields-link
          = f.hidden_field :_destroy
          %i.icon-minus-sign.icon-gray
          = link_to_remove_fields "remove", f
- unless can? :create, :paid_events
  #request-paid-ticket-kit.modal
    .modal-header
      .close{'data-dismiss'=>'modal'} x
      %h3 Paid Ticketing Kit
    - if current_user.current_organization.available_kits.find(:type => "TicketingKit").first.try(:state) == "pending"
      .modal-body
        = render :partial => "ticketing_kits/pending"
      .modal-footer
        = button_tag "Close", :class => "btn-success", 'data-dismiss' => 'modal'
    - else
      .modal-body
        = render :partial => "ticketing_kits/instructions"
      .modal-footer
        = button_tag "Cancel", :class => "btn", 'data-dismiss' => 'modal'
        = button_to "Submit Activation Request", kits_path(:type => "ticketing_kit", :format => "js"), :remote => true, :class => 'btn btn-success'