- in_section :events
- content_for :header do
  %h1= t('.heading', :default => "Events")
  %h2= t('.subheading', :default => "Manage your events")

.context
  %h3 Editing an Event

.document
  %h3= "Edit #{@event.name}"
  = render "shared/error_messages", :target => @event
  = render :partial => 'form', :locals => { :event => @event, :templates => @templates }

