= render :partial => "shared/headers/ticketing"

.context
  = render "shared/error_messages", :target => @event

.document
  %h3= "Edit #{@event.name}"
  = form_for @event, :url => event_path(@event) do |form|
    %ul#event
      = render :partial => 'events/form', :locals => { :parent_form => form, :target => @event }
      %li= form.submit "Submit"