- content_for :header do
  %h1 Events

%ul.dash
  %li
    =link_to new_event_path do
      = image_tag "icons/dashboard/Gray/2.png"
      %span New Event


- unless @events.blank?
  %table.normal.tablesorter
    %thead
      %tr
        %th Name
        %th Venue
        %th Producer
        %th Actions
    %tbody
      - @events.each do |event|
        %tr
          %td= link_to event.name, event_path(event), :class => "link"
          %td= event.venue
          %td= event.producer
          %td
            = link_to image_tag("icons/actions_small/Pencil.png"), edit_event_path(event), :class => 'table_icon'
            = link_to image_tag("icons/actions_small/Trash.png"), "#", :confirm => "Are you sure?", :method => :delete,:class => 'table_icon'