= render :partial => "shared/headers/ticketing"

.context
  %h3 Events
  - unless @events.blank?
    %ul.detailed-list
      - @events.each do |event|
        %li
          %h4= link_to event.name, event_path(event), :title => 'event-name'
          %ul.controls
            %li= link_to "View", event_path(event) if can?(:view, event)
            %li= link_to "Edit", edit_event_path(event) if can?(:edit, event)
            %li= link_to "Delete", event_path(event), :method => :delete, :confirm => "Are you sure?" if can?(:delete, event)
          %ul.details
            %li= event.venue
            %li= event.producer

.document
  .call-to-action
    = button_to "New Event", new_event_path, :method => :get
  %h3 Ticketing Dashboard