- content_for :header do
  %h1 Events

%ul.dash
  %li
    =link_to new_event_path do
      = image_tag "icons/dashboard/2.png"
      %span New Event
.clearboth
- unless @events.blank?
  %table.normal.tablesorter
    %thead
      %tr
        %th Name
        %th Venue
        %th Producer
        %th Actions
    %tbody
      - @events.each do |event|
        %tr
          %td= link_to event.name, event_path(event), :title => 'event-name'
          %td= event.venue
          %td= event.producer
          %td
            = table_icon_link_to :edit, edit_event_path(event) if can? (:edit, event)
            = table_icon_link_to :delete, event_path(event), :confirm => "Are you sure?", :method => :delete if can?(:destroy, event)

