- in_section :events
- content_for :header do
  %h1 Events
  /TODO
  %h2 Missing subtitle
  %ul.from-here
    %li= link_to "New Event", new_event_path

.context
  %h3 Events
  - unless @events.blank?
    %ul.detailed-list
      - @events.each do |event|
        %li
          %h4= link_to event.name, event_path(event), :title => 'event-name'
          %ul.controls
            %li= link_to "View", event_path(event) if can?(:view, event)
            %li= link_to "Edit", edit_event_path(event) if can?(:edit, event)
            %li= link_to "Delete", event_path(event), :method => :delete, :confirm => "Are you sure?" if can?(:delete, event)
          %ul.details-long
            %li= event.venue
            %li= event.producer
    =will_paginate @results
.document
  %h3 Today for Today
  #today-for-today
    %table.standalone.zebra
      %thead
        %tr
          %th Event
          %th Today
          %th Last Week
          %th Change
      %tfoot
        %tr
          %td.main Total
          %td.numeric 69
          %td.numeric 29
          %td.numeric +138%
      %tbody
        %tr
          %td.main Event Number One
          %td.numeric 11
          %td.numeric 5
          %td.numeric +120%
        %tr
          %td.main Event Two
          %td.numeric 43
          %td.numeric 0
          %td.numeric
        %tr
          %td.main Event Number Three
          %td.numeric 15
          %td.numeric 24
          %td.numeric -38%
