- in_section :events
- content_for :header do
  %h1 Events
  %h2= t('.h2', :default => "Manage your events")
  %ul.from-here
    %li= link_to "New Event", new_event_path

.sideboard
  %h3 Events
  = render :partial => 'list', :locals => { :events => @events }

.dashboard
  %h3 Dashboard
  %p= t(".dashboard", :default => "This is your event dashboard.")

.sideboard
  %h3 Overview
  = render :partial => 'glances', :locals => { :events => @events } unless @events.blank?