= render :partial => "shared/headers/ticketing"

.context
  %h3= link_to @event.name, event_path(@event)

  %ul.more
    %li= link_to "New Performance", new_event_performance_path(@event)
    %li= link_to "View all Performances", event_performances_path(@event)

  = render :partial => "performances/upcoming", :locals => { :event => @event, :upcoming => @upcoming }

  %ul.kv
    %li
      .key Venue
      .value= "#{@event.venue} #{@event.city}, #{@event.state}"
    %li
      .key Producer
      .value= @event.producer

.document
  .call-to-action
    = button_to "New Performance", new_event_performance_path(@event), :method => :get

  %h3 This Week
  %ol.calendar.week
    - (5..11).each do |day|
      %li
        .day
          .number= day
  %h3 Charts
  = form_for @chart, :url => assign_chart_path(@event) do |form|
    %ul
      %li
        .label= form.label :id, "Choose chart:"
        .element= form.select :id, options_from_collection_for_select(@charts, "id", "name")
    = form.submit "Submit"

  - @event.charts.each do |chart|
    %ul.detailed-list
      %li
        %h4= chart.name
        %ul.details
          %li= pluralize(chart.sections.size, "Section")
  %h3 Widget
  %textarea= render :partial => 'widgets/event', :locals => { :event => @event }
