- in_section :events
- content_for :header do
  %h1= link_to @event.name, event_path(@event)
  /TODO
  %h2 Missing subtitle
  %ul.from-here
    %li= link_to "New Performance", new_event_performance_path(@event)
    %li= link_to "All Performances", event_performances_path(@event)

.context
  %h3 Upcoming Performances
  = render :partial => "performances/upcoming", :locals => { :event => @event, :upcoming => @upcoming }

  %ul.kv
    %li
      .key Venue
      .value= "#{@event.venue} #{@event.city}, #{@event.state}"
    %li
      .key Producer
      .value= @event.producer

  %h3 Charts
  - @event.charts.each do |chart|
    %ul.detailed-list
      %li
        %h4= chart.name
        %ul.details
          %li= pluralize(chart.sections.size, "Section")
  %h4 Import a Chart
  = form_for @chart, :url => assign_chart_path(@event) do |form|
    %ul
      %li
        .label= form.label :id, "Chart"
        .element= form.select :id, options_from_collection_for_select(@charts, "id", "name")
    = form.submit "Import"

.document
  %h3 This Week
  %ol.calendar.week
    - (5..11).each do |day|
      %li
        .day
          .number= day
  = render :partial => "glance", :locals => { :report => @event.glance }
  %h3 Widget
  .code
    %textarea= render :partial => 'widgets/widget', :locals => { :event => @event, :organization => @event.organization }
