- in_section :events
- content_for :header do
  %h1= link_to @event.name, event_path(@event)
  %h2
    = @event.producer
    &mdash;
    = "#{@event.venue} #{@event.city}, #{@event.state}"
  %ul.from-here
    %li= link_to "New Performance", new_event_performance_path(@event)
    %li= link_to "All Performances", event_performances_path(@event)

.context
  %h3 Upcoming Performances
  = render :partial => "performances/upcoming", :locals => { :event => @event, :upcoming => @upcoming }

  %h3 Charts
  - @event.charts.each do |chart|
    %ul.detailed-list
      %li
        %h4= chart.name
        %ul.details
          %li= pluralize(chart.sections.size, "Section")
  %h4 Import a Chart
  = form_for @chart, :url => assign_chart_path(@event) do |form|
    %ul
      %li
        .label= form.label :id, "Chart"
        .element= form.select :id, options_from_collection_for_select(@charts, "id", "name")
    = form.submit "Import"

.document
  #this-week
    %h3 This Week
    #calendar

  #glance= render :partial => "glance", :locals => { :report => @event.glance }

  #widget
    %h3 Widget
    .code
      %textarea= render :partial => 'widgets/widget', :locals => { :event => @event, :organization => @event.organization }
      
:erb
  <script>
  $(document).ready(function() {  
    $('#calendar').fullCalendar({
      height: 150,
      events: '/events/<%=@event.id%>.json'
    });
    $('#calendar').fullCalendar( 'changeView', 'basicWeek' )
  });
  </script>