- content_for :header do
  %h1= @event.name

.links-bar
  =link_to "Edit this event", edit_event_path(@event), :class => "link"
  =link_to "Add new performance", new_event_performance_path(@event), :class => "link"

.venue-name= @event.venue
.producer-name= @event.producer

= render :partial => 'events/performances', :locals => { :event => @event }

.clearboth
%h2 Charts
= render :partial => 'events/chart_selector', :locals => { :event=> @event, :chart=>@chart, :charts => @charts }

- @event.charts.each do |c|
  = render :partial => 'events/chart', :locals => { :chart => c }

.clearboth
%h2 Widget
%textarea= render :partial => 'widgets/event', :locals => { :event => @event }
