- content_for :header do
  %h1= "#{@event.name} at #{@event.venue}"
  %h2= "#{@event.producer}: #{@event.city}, #{@event.state}"

.context
  %h3 Performances
  - unless @event.performances.empty?
    %ul.detailed-list#of_performances
      - @event.performances.each do |performance|
        %li
          %h4= link_to l(performance.datetime, :format => :short), performance_path(performance), :title => 'performance-datetime'
          %ul.details
            %li= link_to "Delete", event_performance_path(@event, performance), :confirm => "Are you sure?", :method => :delete if can?(:destroy, performance)
  %ul.more
    %li= link_to "New Performance", new_event_performance_path(@event)
    %li= link_to "View all Performances", event_performances_path(@event)

.document
  .call-to-action
    = button_to "New Performance", new_event_performance_path(@event), :method => :get
  %h3 This Week
  %ol.calendar.week
    - (5..11).each do |day|
      %li
        .day
          .number= day
  %h3 Charts
  = render :partial => 'events/chart_selector', :locals => { :event=> @event, :chart=>@chart, :charts => @charts }
  - @event.charts.each do |chart|
    %ul.detailed-list
      %li
        %h4= chart.name
        %ul.details
          %li= pluralize(chart.sections.size, "Section")
  %h3 Widget
  %textarea= render :partial => 'widgets/event', :locals => { :event => @event }
