- in_section :events
- content_for :header do
  %h1= link_to @event.name, event_path(@event)
  %h2
    = @event.producer
    &mdash;
    = "#{@event.venue} #{@event.city}, #{@event.state}"

.context
  %ul.context-buttons
    %li= button_to "Edit Event", edit_event_path(@event), :method => :get
    %li= button_to "Store Front", store_event_path(@event), :method => :get

  = # render :partial => "glance", :locals => { :report => @event.glance }

.document
  %h3 Import Seat Chart
  %p
    Before creating shows, you'll need to import seat charts to this event so Artfully knows how to generate tickets for your shows.
  - if @charts.empty?
    = link_to 'Create a new chart', new_chart_path, :class => 'cta-left-125'
    .clear
  - else
    = render :partial => "events/chart_select", :locals => { :event => @event, :chart => @chart }
    %p="Or, click this button to create a new chart"
    = link_to 'Create a new chart', new_chart_path, :class => 'cta-left-125'
    .clear

  #widget
    %h3 Sell Tickets

    %h4 Quick and Easy
    %p= "Use this link to sell tickets to #{@event.name}: #{ link_to(store_event_url(@event), store_event_url(@event))}".html_safe

    %h4 Sell Anywhere
    %p= "Click #{link_to 'here', widget_event_path(@event)} for instructions on installing the widget on your own site.".html_safe