- content_for :header do
  %h1 Seat &amp; Price Templates

  %ul.dash
    %li
      =link_to charts_path do
        = image_tag "icons/dashboard/1.png"
        %span Charts
    %li
      =link_to new_chart_path do
        = image_tag "icons/dashboard/2.png"
        %span New Chart

.clearboth

- if @charts.empty?
  You have not created and templates

.templateContainer
  - @charts.each do |chart|
    .one_half.column
      .portlet2
        .portlet-header
          %h2= chart.name
        .portlet-content
          %ul
            %li= link_to "view", chart_path(chart)
            %li= link_to "edit", edit_chart_path(chart)
            %li= link_to "delete", chart_path(chart), :method=>:delete
          %table.normal
            %thead
              %tr
                %th Name
                %th Seats
                %th Price
            %tbody
              - chart.sections.each do |section|
                %tr
                  %td= section.name
                  %td= "#{section.capacity} seats"
                  %td= "$#{section.price}"
