- content_for :header do
  %h1 Seat &amp; Price Templates


= contextual_menu do |m|
  - m.item_to "Charts", charts_path, :title => "Charts", :icon => "icons/light/Gear.png"
  - m.item_to "New Chart", new_chart_path, :title => "New Chart", :icon => "icons/light/Writing.png"

.clearboth

- if @charts.empty?
  You have not created any chart templates

.templateContainer
  - @charts.each do |chart|
    .one_half.column
      .portlet2
        .portlet-header
          %h2= chart.name
        .portlet-content
          %ul
            %li= link_to "view", chart_path(chart) if can?(:view, chart)
            %li= link_to "edit", edit_chart_path(chart) if can?(:edit, chart)
            %li= link_to "delete", chart_path(chart), :method=>:delete if can?(:delete, chart)
          %table.normal
            %thead
              %tr
                %th Name
                %th Seats
                %th Price
            %tbody
              - chart.sections.each do |section|
                %tr
                  %td= section.name
                  %td= "#{section.capacity} seats"
                  %td= "$#{section.price}"
