- in_section :events
- content_for :header do
  %h1 Chart Templates

.row

  .span4
    %ul.context-buttons
      - unless session[:event_id].nil?
        %li
          = button_to "&#8617; Return to event".html_safe, event_path(session[:event_id]), :method => :get, :class => "btn"
      %li= button_to "New Chart", new_chart_path, :method => :get, :class => "btn"

  .span8
    %h3 Charts
    - if @charts.empty?
      %p You have not created any chart templates.
      = link_to "Create chart template", new_chart_path, :class => :cta

    %ul.detailed-list
      - @charts.each do |chart|
        %li
          %h4= link_to chart.name, chart_path(chart) if can?(:view, chart)
          %ul.controls
            %li= link_to "Edit", edit_chart_path(chart) if can?(:edit, chart)
            %li= link_to "Copy", charts_path(:chart_id => chart.id), :method => :post if can?(:view, chart)
            %li= link_to "Delete", chart_path(chart), :method=>:delete if can?(:delete, chart)
          %ul.details
            %li= pluralize(chart.sections.size, "Section")
