- content_for :header do
  %h1= @chart.name

= contextual_menu do |m|
  - m.item_to "Charts", charts_path, :title => "Charts", :icon => "icons/light/Gear.png"
  - m.item_to "New Chart", new_chart_path, :title => "New Chart", :icon => "icons/light/Writing.png"
  - m.item_to "Edit this chart", edit_chart_path(@chart), :title => "Edit Chart" if can?(:edit, @chart)

.clearboth

%h2 Sections
%table.normal
  %thead
    %tr
      %th Name
      %th Seats
      %th Price
      %th Actions
  %tbody
    - @chart.sections.each do |section|
      %tr
        %td= section.name
        %td= "#{section.capacity} seats"
        %td= "$#{section.price}"
        %td
          =table_icon_link_to :edit, edit_chart_section_path(@chart, section) if can?(:edit, @chart)
          =table_icon_link_to :delete, chart_section_path(@chart, section), :confirm => "Are you sure?", :method=>:delete if can?(:delete, @chart)

=link_to "Add a section to this chart", new_chart_section_path(@chart), :class => "link"