- in_section :events
- content_for :header do
  %h1= @chart.name

.context
  %h3 Charts
  %ul.context-buttons
    %li= button_to "Copy Chart", charts_path(:chart_id => @chart.id), :method => :post
    %li= button_to "New Section", new_chart_section_path(@chart), :method => :get

.document
  %h3= "#{@chart.name}"
  = render :partial => 'sections/section_table', :locals => { :chart => @chart, :include_link => true }
  .element
    .description When purchasing tickets, patrons will see sections ordered by price starting with the highest price and descending to the lowest.

