- content_for :header do
  %h1= @chart.name
  %ul.dash
    %li
      =link_to charts_path do
        = image_tag "icons/dashboard/1.png"
        %span Charts
    %li
      =link_to new_chart_path do
        = image_tag "icons/dashboard/2.png"
        %span New Chart


=link_to "Edit this chart", edit_chart_path(@chart), :class => "link" if can?(:edit, @chart)

%h2 Sections
%table.normal
  %thead
    %tr
      %th Name
      %th Seats
      %th Price
      %th Actions
  %tbody
    - @chart.sections.each do |section|
      %tr
        %td= section.name
        %td= "#{section.capacity} seats"
        %td= "$#{section.price}"
        %td
          =table_icon_link_to :edit, edit_chart_section_path(@chart, section) if can?(:edit, @chart)
          =table_icon_link_to :delete, chart_section_path(@chart, section), :confirm => "Are you sure?", :method=>:delete if can?(:delete, @chart)

=link_to "Add a section to this chart", new_chart_section_path(@chart), :class => "link"