.row

  .span3
    %h3 Validate Contacts

    %p This import was created at: <br> #{l import.created_at}
    %p #{pluralize @import.rows.count, "contact"} found in this import file

    .btn-group
      = link_to "Approve", approve_import_path(import), :data => {:confirm => "Are you sure you want to approve this import?"}, :class => "btn"
      = link_to "Delete", import_path(import), :data => {:confirm => "Are you sure you want to delete this import?"}, :method => :delete, :class => "btn"
      = link_to "Back", imports_path, :class => "btn"

  .span9
    %h3 Viewing contacts #{@offset + 1} through #{[ import.rows.count, @offset + @length ].min}

    .page-controller= import_page_controller import, @offset, @length

    %table.example-contact.table

      %thead

        %th &nbsp;
        - @length.times do |i|
          - if import.rows[@offset + i]
            %th= @offset + i + 1

      - import.headers.each_with_index do |field, index|
        -unless field.nil?      
          %tr
            %td.field= field.capitalize
            - import.rows[@offset, @length].each do |row|
              %td.value= row[index]
