%link{:href => "#{root_url}stylesheets/themes/default.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
%script{:src => "#{root_url}javascripts/artfully.js"}

/ Comment out the next line if you already have jQuery on your website
%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"}
:javascript
  $(document).ready(function(){
    artfully.configure({
      base_uri: '#{root_url}api/',
      store_uri: '#{root_url}store/',
    });
    #{render :partial => "widgets/event", :locals => { :event => event } unless event.nil? }
    #{render :partial => "widgets/donation", :locals => { :organization => organization } unless organization.nil? }
  });
