= parent_form.fields_for target do |customer_form|
  %ul
    %li.element.left
      = customer_form.label "First Name"
      .input-fix
        = customer_form.text_field :first_name


    %li.element.right
      = customer_form.label "Last Name"
      .input-fix
        = customer_form.text_field :last_name


    %li.element
      = customer_form.label "Company"
      .input-fix
        = customer_form.text_field :company


    %li.element.left
      = customer_form.label "Phone"
      .input-fix
        = customer_form.text_field :phone


    %li.element.right
      = customer_form.label "Fax"
      .input-fix
        = customer_form.text_field :fax


    %li.element
      = customer_form.label "Email"
      .input-fix
        = customer_form.text_field :email
