- in_section :people
- content_for :header do
  %h1 New List Segment

= render "shared/error_messages", :target => @segment
.row
  .span4
    = form_for(@segment) do |form|
      = form.hidden_field :search_id
      = form.text_field :name, :placeholder => "Name your list segment..."
      %br
      = form.submit "Create", :class => "btn"
  .span8
    #list-segment
      %ul.people-list
        - @segment.people.each do |person|
          %li
            = hidden_field_tag "people[]", person.id, :id => nil
            .name= link_to "#{person.first_name} #{person.last_name}", person_url(person)
            .email= person.email
