- in_section :people
- content_for :header do
  %h1= @segment.name

.row
  .span4
    %h3 Export
    %p= "Export to this list segment to #{link_to('CSV', segment_path(@segment, :format => :csv))}.".html_safe

  .span8
    %table.table.people-list
      - @segment.people.each do |person|
        %tr
          %td.name= link_to "#{person.first_name} #{person.last_name}", person_url(person)
          %td.email= person.email
          %td.tag-cell
            %ul.detailed-list.tags.pull-right{:id => "people-people-tags"}
              - person.tag_list.each do |tag|
                %li.tag.rounder= tag
