#items.grouped-form-target
  = form_tag do
    %table.zebra
      %thead
        %tr
          %th.grouped-checkbox= check_box_tag :all, nil, false, :class => :checkall
          %th Type
          %th Price
      %tbody
        - order.all_items.each do |item|
          %tr{:id => "row_item_#{item.id}", :class => item.state }
            %td.grouped-checkbox= check_box_tag "item_#{item.id}", item.id, false, :disabled => true
            %td
              - if item.product_type.eql?("AthenaTicket")
                %span Ticket
                %span
                  (
                  = link_to "#{item.product.event}", event_path(item.product.event_id)
                  ,
                  = link_to "#{l item.product.performance}", event_show_path(item.product.event_id, item.product.performance_id)
                  )
              - if item.product_type.eql?("Donation")
                %span Donation
            %td= number_as_cents item.price