= javascript_include_tag "grouped-form"

- unless order.items.empty?
  = render :partial => 'refunds/grouped_form', :locals => { :order => order }
  = render :partial => 'exchanges/grouped_form', :locals => { :order => order }
  #items.grouped-form-target
    = form_tag do
      %table.zebra
        %thead
          %tr
            %th= check_box_tag :all, nil, false, :class=>'checkall'
            %th Type
            %th Description
            %th Price
        %tbody
          - order.items.each do |item|
            - ticket = AthenaTicket.find(item.item_id)
            %tr{:class => "row_item_#{item.id}"}
              %td Ticket
              %td= link_to "#{ticket.event}", event_path(ticket.event_id)
              %td= number_as_cents item.price
