= javascript_include_tag "grouped-form"
- unless order.items.empty?
  #refunds.grouped-form
    %h3 Refunds
    = form_for :refund, :url => '/refunds' do |form|
      = hidden_field_tag :order_id, order.id
      %ul
        - order.items.each do |item|
          %li
            .label-and-element
              = check_box_tag "items[]", item.id, false, :id => "refund_item_#{item.id}", :class => "item_#{item.id}"
              = label_tag "refund_item_#{item.id}", item.id
      = submit_tag "Refund"

  #exchanges.grouped-form
    %h3 Exchanges
    = form_tag '/exchanges/new', :method => :get do |form|
      = hidden_field_tag :order_id, order.id
      %ul
        - order.items.each do |item|
          %li
            .label-and-element
              = check_box_tag "items[]", item.id, false, :id => "exchange_item_#{item.id}", :class => "item_#{item.id}"
              = label_tag "item_#{item.id}", item.id
      = submit_tag "Exchange"

  #items.grouped-form-target
    = form_tag do
      %table.zebra
        %thead
          %tr
            %th= check_box_tag :all, nil, false, :class=>'checkall'
            %th Type
            %th ID
            %th Price
            %th Event
            %th Performance
        %tbody
          - order.items.each do |item|
            - ticket = AthenaTicket.find(item.item_id)
            %tr{:class => "row_item_#{item.id}"}
              %td Ticket
              %td=item.id
              %td= number_as_cents item.price
              %td=link_to "#{ticket.event}", event_path(ticket.event_id)
              %td= l ticket.performance.in_time_zone(AthenaEvent.find(ticket.event_id).time_zone)
