- content_for :scripts do
  = javascript_include_tag "grouped-form"

- unless order.all_tickets.empty?
  = render :partial => 'refunds/grouped_form', :locals => { :order => order }
  = render :partial => 'exchanges/grouped_form', :locals => { :order => order }
  #items.grouped-form-target
    = form_tag do
      %table.zebra
        %thead
          %tr
            %th.grouped-checkbox= check_box_tag :all, nil, false, :class => :checkall
            %th Type
            %th Event
            %th Performance
            %th Price
        %tbody
          - order.all_tickets.each do |item|
            %tr{:id => "row_item_#{item.id}", :class => item.state }
              %td.grouped-checkbox= check_box_tag "item_#{item.id}", item.id, false, :disabled => true
              %td Ticket
              %td= link_to "#{item.item.event}", event_path(item.item.event_id)
              %td= link_to "#{l item.item.performance}", event_performance_path(item.item.event_id, item.item.performance_id)
              %td= number_as_cents item.price
