%h3 #{order.id}

%ul.kv
  %li
    .key Ordered by
    .value
      =link_to "#{person.last_name}, #{person.first_name}", person_path(person)
  %li
    .key Date
    .value #{(l order.timestamp) unless order.timestamp.nil?}
  -#
    %li
    .key Placed
    .value On website
  %li
    .key Total
    .value #{number_as_cents(@total)}
  %li
    .key Details
    .value #{order.details}

