= fields_for :options do |f|
  = f.label :save, "Save my information"
  = f.check_box :save

  = f.label :password
  = f.password_field :password

  = f.label :password_confirmation
  = f.password_field :password_confirmation
