%h3 Ticket Order
%h4 Enter Payment Details

= render "shared/error_messages", :target => @payment

%ul.line-items
  - @order.tickets.each do |ticket|
    %li
      = render :partial => 'athena/tickets/line_item', :object => ticket
  %li.total
    = "Total: $#{@order.total}"

= form_for @order do |f|
  - if @needs_confirmation
    = hidden_field_tag :confirmation, 1
    = render @payment.customer
    = render @payment.credit_card
    = render @payment.billing_address

  = render :partial => 'athena/payments/form', :locals => {:payment => @payment}

= link_to "Cancel Order", order_path(@order), :method => :delete, :confirm => 'Are you sure?'
