- in_section :people
- content_for :header do
  %h1 Orders & Donations
  %h2 Find and manage orders and donations

%form.big-search
  = form_tag orders_path, :method => :get do
    = text_field_tag :search
    = submit_tag "Search"

.tip
  %h3 Tips
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula <strong>nisi eget lacus</strong> gravida at iaculis mi luctus. Vestibulum accumsan est eget lacus accumsan a condimentum leo volutpat. In congue rhoncus neque, ut tincidunt quam sagittis eget. In hac habitasse platea dictumst. Quisque non imperdiet magna.

.document
  -if !params["search"].nil? && @results.empty?
    %p No orders matched your search.
  -elsif @results.nil?
    -#Case needed for Cucumber testing
  -else
    -if params["search"].nil?
      %h3 Recent Orders
    -else
      %h3 Search Results

    #orders
      %table.standalone.zebra
        %thead
          %tr
            %th ID
            %th Last Name
            %th First Name
            %th Date
            %th Event
            %th Detail
        %tbody
          -@results.each do |order|
            %tr
              %td=link_to "#{order.id}", order_path(order)
              %td= order.person.last_name
              %td= order.person.first_name
              -unless order.timestamp.nil?
                %td= l order.timestamp
              -else
                %td
              -if order.items.size > 0 and "AthenaTicket" == order.items.first.product_type
                -ticket = AthenaTicket.find(order.items.first.product_id)
                %td=link_to "#{ticket.event}", event_path(ticket.event_id)
              -else
                %td
              -details = []
              -details << pluralize(order.num_tickets, "ticket") unless order.num_tickets <= 0
              -details << " #{number_as_cents(order.sum_donations)} donation" unless order.sum_donations <= 0.0
              %td= details.compact.to_sentence
              
      =will_paginate @results

