- in_section :transactions
- content_for :header do
  %h1 Sales

#donations-search
  = form_tag sales_orders_path, :method => :get, :class => 'form-horizontal' do
    - if @events.present?
      .control-group
        = label_tag :event_id, nil, :class => "control-label"
        .controls= raw select_event_for_sales_search @events, :event_id, params[:event_id]
    - if @event && @shows.present?
      .control-group
        = label_tag :show_id, nil, :class => "control-label"
        .controls= raw select_show_for_sales_search @shows, :show_id, params[:show_id]
    .control-group
      = label_tag :start, "Starting Date", :class => "control-label"
      .controls= text_field_tag :start,"#{l @search.start, :format => :date_for_input}", :readonly => true, :class => 'datepicker input-small'
    .control-group
      = label_tag :stop, "Ending Date", :class => "control-label"
      .controls= text_field_tag :stop, "#{l @search.stop, :format => :date_for_input}", :readonly => true, :class => 'datepicker input-small'
    .btn-toolbar.form-actions
      .btn-group
        = submit_tag "Search", :class => "btn"

%h3
  = "From #{l @search.start} to #{l @search.stop}"
  = "for #{@event.name}" if @event
  = "on #{l @show.datetime_local_to_event}" if @show

- if @search.results.present?

  #tickets
    %table.standalone.zebra.table
      %thead
        %tr
          %th Order
          %th Time
          %th Person
          %th Method
          %th Event and Show
          %th Amount
      %tbody
        - @search.results.each do |order|
          - order.items.select(&:ticket?).each_with_index do |item, index|
            %tr
              - if index == 0
                - rowspan = order.items.select(&:ticket?).size
                %td{:rowspan => rowspan}= link_to order.id, order_path(order.id)
                %td{:rowspan => rowspan}= l(order.created_at_local_to_organization, :format => :short)
                %td{:rowspan => rowspan}= link_to "#{order.person.first_name} #{order.person.last_name}", person_path(order.person)
                %td{:rowspan => rowspan}= (order.payment_method || "")
              %td 
                ="#{item.product.event.name}"
                %br
                ="#{l item.product.show.datetime_local_to_event}"
              %td= number_as_cents item.price
    = will_paginate(@search.results)

- else

  %h4= "No sales found."
