- in_section :transactions
- content_for :header do
  %h1 Orders & Donations

.context

.document
  %h3= @order.id
  %ul.kv
    %li
      .key Ordered by
      .value=link_to "#{@person.last_name}, #{@person.first_name}", person_path(@person)
    %li
      .key Date
      .value #{(l @order.timestamp) unless @order.timestamp.nil?}
    %li
      .key Total
      .value #{number_as_cents(@total)}
    %li
      .key Details
      .value #{@order.details}

  - content_for :scripts do
    = javascript_include_tag "grouped-form"

  - unless @order.all_items.empty?
    = render :partial => 'refunds/grouped_form', :locals => { :order => @order }
    = render :partial => 'exchanges/grouped_form', :locals => { :order => @order }
    = render :partial => 'returns/grouped_form', :locals => { :order => @order }

    %h3 Items
    = render :partial=>'item_table', :locals => { :order => @order }