- in_section :transactions
- content_for :header do
  %h1 Orders & Donations

.context
  %ul.kv
    %li
      .key ID
      .value=@order.id
    %li
      .key Ordered by
      .value=link_to_person @person
    %li
      .key Date
      .value #{(l @order.created_at_local_to_organization) unless @order.created_at.nil?}
    %li
      .key Total
      .value #{number_as_cents(@total)}
    - if @order.nongift_amount > 0
      %li
        .key Nongift
        .value #{number_as_cents(@order.nongift_amount)}
    %li
      .key Payment method
      .value=(@order.payment_method || "")
    %li
      .key Order location
      .value=(@order.location || "")
    - if !@order.fa_id.nil?
      %li
        .key FA ID
        .value=@order.fa_id
    %li
      .key Details
      .value #{@order.details}
.document
  - unless @order.all_items.empty?
    = render :partial => 'refunds/grouped_form', :locals => { :order => @order }
    = render :partial => 'exchanges/grouped_form', :locals => { :order => @order }
    = render :partial => 'returns/grouped_form', :locals => { :order => @order }

    %h3 Items
    = render :partial=>'item_table', :locals => { :order => @order }
- unless @order.children.empty?
  - @order.children.each do |child|
    .context
      %ul.kv
        %li
          .key ID
          .value=child.id
        %li
          .key Date
          .value #{(l child.created_at_local_to_organization) unless child.created_at.nil?}
        %li
          .key Total
          .value #{number_as_cents(child.total)}
        %li
          .key Details
          .value #{child.details}
    .document
      - unless child.items.empty?
        = render :partial => 'item_table', :locals => { :order => child }