.hero-unit
  %h1= t(".hero.heading", :default => "Grow Your Audience by Organizing Your Data")
  %p= t(".hero.subheading", :default => "Artful.ly is an online system to manage your tickets, donations and contacts. <br />It’s a simple, elegant way to keep track of events, people, and your everyday work.")

.landing-section
  %h1= t(".how.heading", :default => "How to Work Artful.ly")
  .row
    .span8
      = t(".how.one", :default => "")
      = t(".how.two", :default => "")
      = t(".how.three", :default => "")

    .span8.center
      = image_tag('pages/screenshot-display.png')

  .row
    .span6
      = t(".how.four", :default => "")

    .span5
      = t(".how.five", :default => "")

    .span5
      = t(".how.six", :default => "")

  .row
    .span6
      = t(".how.seven", :default => "")

    .span5
      = t(".how.eight", :default => "")

    .span5
      = t(".how.nine", :default => "")

.landing-section
  %h1= t(".good-guys.heading", :default => "Go with the Good Guys")

  .row.good-guys
    .span8
      = t(".good-guys.one", :default => "")
    .span8
      = image_tag('pages/good-guys-artists.jpg')

  .row.good-guys
    .span8
      = image_tag('pages/good-guys-listen.png')
    .span8
      = t(".good-guys.two", :default => "")

  .row.good-guys
    .span8
      = t(".good-guys.three", :default => "")
    .span8
      = image_tag('pages/good-guys-geeks.gif')

  .row.good-guys
    .span8
      = image_tag('pages/good-guys-work.jpg')
    .span8
      = t(".good-guys.four", :default => "")

  .row.good-guys
    .span8
      = t(".good-guys.five", :default => "")
    .span8
      = image_tag('pages/good-guys-service.png')


.landing-section
  %h1= t(".our-word.heading", :default => "Don’t just take our word for it!")

  .row
    .span5
      %blockquote
        %p= t(".our-word.one", :default => "“This is one of the greatest organizations I've ever been part of.”<small>John Turnbull, writer & editor, GA</small>")

    .span5
      %blockquote
        %p= t(".our-word.two", :default => "“I'm a member of many arts organizations that were created to 'support' the indie filmmaker and NONE of them begin to compare. Finally after years of struggling to find resources everything became available to me when I joined Fractured Atlas.”<small>Paul Bright, filmmaker, TX</small>")

    .span6
      %blockquote
        %p= t(".our-word.three", :default => "“It's very obvious that it has a great deal of potential from an already solid starting base. I truly appreciate the clean aesthetic of the software. Directors, like myself, don't have time for a great deal of clutter. Artful.ly gets straight to the punch. I'm also impressed with how quickly changes/upgrades based on user recommendations have been made. It shows the Fractured Atlas staff is open to opinions of the user base.”<small>Doc Waller, The Layman Group, GA</small>")

.landing-section
  .row
    .span10.offset3
      %h1.center= t(".list.heading", :default => "8 Ways Artful.ly Gives You the Keys to Your Own Success:") 

      %ol#success
        = t(".list.body", :default => "") 

.landing-section
  .row
    .span6
      %h1= t(".not.heading", :default => "What Artful.ly Is Not")

    .span10
      %blockquote
        %p= t(".not.body", :default => "“This isn’t a complicated merchant services account adapted to a shopping cart for tickets, it’s not an expensive massive patron services database one hosts on site, it’s not a sports ticket system pushed into use for a performance venue, it’s not software adapted from another sales system. It’s a ground-up, powerful yet light-weight, user friendly arts centered system with strong commitment from a service oriented developer.”<small>Ian Garret, Fresh Arts, TX</small>")

.landing-section
  .row
    .span8.offset4
      %h1.center= t(".ready.heading", :default => "Are You Ready to Work Artful.ly?")

      %p= t(".ready.body", :default => "We’ve used your insights to create a ticketing and contact management system tailored to your needs. Manage the essentials of your arts business in one place!")

      .div.center{:style => 'margin-bottom: 30px;'}
        = link_to t(".ready.button", :default => "Register for your FREE account"), sign_up_path, :class => 'btn primary'
      
      = t(".ready.ps", :default => '')

      .logo.center
        = link_to image_tag('pages/fa-logo.png'), 'http://www.fracturedatlas.org', :target => '_blank'
