%h1.page-title= t(".heading", :default => "Updates")

.row
  .span8
    -@posts.each do |post|
      .post
        %h4=link_to post[:title], post[:link], :target => '_blank'
        %h6= post[:byline]
        = simple_format post[:entry].gsub('Read More »', '').gsub("\n","\n\n"), :class => 'blog'
        %p
          = link_to 'Read More »', post[:link], :target => '_blank'

  .span4
    .icon
      = image_tag('pages/envelope.png', :class => 'icon')
    .sub-text
      = t(".subheading", :default => "")

.row
  %p=link_to t(".link-to-blog", :default => "All Artful.ly posts on the Fractured Atlas Blog »"), 'http://www.fracturedatlas.org/site/blog/tag/artfully/'

