%h1.page-title= t(".heading", :default => "Updates")

.row
  .span8
    -@posts.each do |post|
      .post
        %h4=link_to post[:title], post[:link], :target => '_blank'
        %h6= post[:byline]
        = simple_format post[:entry].gsub('Read More »', '').gsub("\n","\n\n"), :class => 'blog'
        %p
          = link_to 'Read More »', post[:link], :target => '_blank'

  .span4
    .icon
      = image_tag('pages/envelope.png', :class => 'icon')
    .sub-text
      = t(".subheading", :default => "")

    .twitter
      :plain
        <div class="twitter-widget">
          <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
          <script>
          new TWTR.Widget({
            version: 2,
            type: 'profile',
            rpp: 5,
            interval: 30000,
            width: 280,
            height: 200,
            theme: {
              shell: {
                background: 'transparent',
                color: '#333'
              },
              tweets: {
                background: 'transparent',
                color: '#333',
                links: '#007ca6'
              }
            },
            features: {
              scrollbar: false,
              loop: false,
              live: false,
              behavior: 'all'
            }
          }).render().setUser('artfullyhq').start();
          </script>
        </div>

        <p class="twitter-follow-button">
          <a href="https://twitter.com/artfullyhq" class="twitter-follow-button" data-show-count="false">Follow @artfullyhq</a><script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
        </p>

.row
  %p=link_to t(".link-to-blog", :default => "All Artful.ly posts on the Fractured Atlas Blog »"), 'http://www.fracturedatlas.org/site/blog/tag/artfully/'

