.ticket
  %h5= link_to ticket.props.TITLE, ticket
  %h6= "$#{ticket.props.PRICE}"
  %ul.info
    - ticket.props.attributes.each do |key, value|
      %li= "#{key}:#{value}" unless key.eql?('TITLE') or key.eql?('PRICE')
