.ticket
  %h5= #link_to ticket.TITLE, ticket
  %h6= "$#{ticket.PRICE}"
  %ul.info
    - ticket.attributes.each do |key, value|
      %li= "#{key}:#{value}" unless key.eql?('TITLE') or key.eql?('PRICE')
