= "Area you sure you want to comp #{pluralize(@selected_tickets.size, 'ticket')}"
= " to \"#{@person[:athena_person][:first_name]} #{@person[:athena_person][:last_name]}\""
= " for the #{l @performance.datetime, :format=> :date_at_time} performance"
= " of #{@performance.event.name}?"
%p
="Reason for comp is: #{@reason_for_comp}" 
%p
= form_for @performance, :url => comp_ticket_confirm_path(@performance) do |form|
  = hidden_field_tag :confirmed, :true
  - @selected_tickets.each do |st|
    =hidden_field_tag "selected_tickets[]", st
  = hidden_field_tag :athena_person, @person
  %p If this is correct, please click confirm it by clicking
  = submit_tag "Confirm"

%p
=link_to "Cancel Ticket Comp", performance_path(@performance), :class=>"link"

=ap @person
=ap @p2