- in_section :events
- content_for :header do
  %h1 Ticketing and Events

.context
.document
  %h3 Find Recipient
  = form_tag comp_details_performance_tickets_path, :method => :put do
    %ul
      %li
        .label
          = label_tag :email, "Email"
        .element
          = text_field_tag :email
    - @selected_tickets.each do |st|
      = hidden_field_tag "selected_tickets[]", st
    = submit_tag "Search"
