
%br

= form_for @user, :url =>  comp_ticket_confirm_path(@performance) do |form|
  = render :partial => 'tickets/form', :locals => { :parent_form => form, :target => @user }
  - @selected_tickets.each do |st|
    = hidden_field_tag "selected_tickets[]", st
  = label_tag :comp_reason, "Reason for comp"
  = text_field_tag :comp_reason
  = form.submit "Submit"
