- in_section :events
- content_for :header do
  %h1 Confirm Price Change

.context
.document
  #section
    %h3 Tickets
    %p= "You have selected the following #{pluralize @selected_tickets.count, "tickets"} to reprice:"
    %ul
      -@grouped_tickets.each do |section, prices|
        %li
          %h4= section
          %ul.prices
            -prices.each do |price, tickets|
              %li
                %div= "#{pluralize tickets.count, "ticket"}, at #{number_as_cents price} would change to #{number_as_cents @price}"

  %p
    = "Are you sure you want to change the price of these tickets from their current price to #{number_as_cents @price} for the #{l @performance.datetime} performance of #{@performance.event.name}?"

  =form_tag change_prices_performance_tickets_path, :method=>:put do
    = hidden_field_tag :confirmed, :true
    = hidden_field_tag :price, @price
    - @selected_tickets.each do |st|
      = hidden_field_tag "selected_tickets[]", st
    = submit_tag "Confirm"
  %p
    =link_to "Cancel", event_performance_path(@performance.event, @performance)