%h2 Search for Tickets
= form_tag('/tickets', :method => :get) do
  = label_tag(:price, "Price:")
  %br
  = text_field_tag(:price)
  %br
  = label_tag(:performance, "Performance Date:")
  %br
  = text_field_tag(:performance)
  %br
  = label_tag(:limit, "Limit number of results to:")
  %br
  = text_field_tag(:limit)
  %br
  = submit_tag("Search")

- unless @tickets.nil?
  = "Found #{pluralize(@tickets.size, 'ticket')}"
  = form_for current_order do
    %ul.ticket-list
      -@tickets.each do |ticket|
        %li
          = render ticket
          = hidden_field_tag "tickets[]", ticket.id
    = submit_tag("Add Tickets") unless @tickets.empty?
