= form_tag('/tickets', :method => :get) do
  = label_tag(:PRICE, "Price:")
  %br
  = text_field_tag(:PRICE)
  %br
  = label_tag(:PERFORMANCE, "Performance Date:")
  %br
  = text_field_tag(:PERFORMANCE)
  %br
  = submit_tag("Search")

%ul.ticket-list
  -@tickets.each do |ticket|
    %li
      = render ticket
