= form_tag('/tickets', :method => :get) do
  = label_tag(:PRICE, "Price:")
  %br
  = text_field_tag(:PRICE)
  %br
  = label_tag(:PERFORMANCE, "Performance Date:")
  %br
  = text_field_tag(:PERFORMANCE)
  %br
  = label_tag(:limit, "Limit number of results to:")
  %br
  = text_field_tag(:limit)
  %br
  = submit_tag("Search")
- unless @tickets.nil?
  = "Found #{pluralize(@tickets.size, 'ticket')}"
  %ul.ticket-list
    -@tickets.each do |ticket|
      %li
        = render ticket
