- in_section :events
- content_for :header do
  %h1 Add Tickets

.context
  %h3 Sections
  %ul.selection
    - @show.chart.sections.each do |section|
      %li{:class => @section && section.id == @section.id ? :selected : :unselected }
        = link_to section.name,  new_show_ticket_path(@show, :section_id => section.id)
.document
  - if @section.nil?
    %p Select a section to add tickets.
  - else
    #section
      %h3= @section.name
      %p= "This will add tickets to the #{@section.name} section of the #{l(@show.datetime, :format => :short)} showing."
      = form_tag show_tickets_path, :class => :single_field do
        = hidden_field_tag :section_id, @section.id
        .stack
          .label= label_tag(:quantity)
          .element= text_field_tag(:quantity, @quantity)
          .submit= submit_tag "Create Tickets"
    %ul{:style=>"width:25%"}
      %li
        %h4 Current Tickets
        %ul.report
          %li
            %span.stat Total Tickets
            %span.current=@summary.total
          %li
            %span.stat Sold
            %span.current=@summary.sold
          %li
            %span.stat Comped
            %span.current=@summary.comped
