- in_section :events
- content_for :header do
  %h1 Add Tickets

.row
  .span4
    %h3 Sections
    %ul.nav.nav-pills.nav-stacked
      - @show.chart.sections.each do |section|
        %li{:class => @section && section.id == @section.id ? :active : :unselected }
          = link_to section.name,  new_show_ticket_path(@show, :section_id => section.id)

  .span8
    - if @section.nil?
      %p Select a section to add tickets.
    - else
      #section
        %h3= @section.name
        %p= "This will add tickets to the #{@section.name} section of the #{l(@show.datetime_local_to_event, :format => :short)} showing."
        = form_tag show_tickets_path, :class => 'form-inline' do
          = hidden_field_tag :section_id, @section.id
          = label_tag(:quantity)
          = text_field_tag(:quantity, @quantity)
          = submit_tag "Create Tickets", :class => "btn"
      .row-fluid
        .span6
          %h6 About this section
          = render :partial => 'shared/section_summary', :locals => { :section => @section }
        .span6
          %h6 About this show
          %table.table
            %tr
              %td Potential Remaining
              %td= number_as_cents(@show.glance.potential_remaining)
            %tr
              %td Original Potential
              %td= number_as_cents(@show.glance.potential_original)
            %tr
              %td On Sale
              %td= @show.glance.available_total
            %tr
              %td Sold
              %td= @show.glance.sold_total
            %tr
              %td Comped
              %td= @show.glance.comped_total
