- in_section :events
- content_for :header do
  %h1 Add Tickets

.context
  %h3 Sections
  %ul.selection
    - @show.chart.sections.each do |section|
      %li{:class => @section && section.id == @section.id ? :selected : :unselected }
        = link_to section.name,  new_show_ticket_path(@show, :section_id => section.id)
.document
  - if @section.nil?
    %p Select a section to add tickets.
  - else
    #section
      %h3= @section.name
      %p= "This will add tickets to the #{@section.name} section of the #{l(@show.datetime_local_to_event, :format => :short)} showing."
      = form_tag show_tickets_path, :class => :single_field do
        = hidden_field_tag :section_id, @section.id
        .stack
          .label= label_tag(:quantity)
          .element= text_field_tag(:quantity, @quantity)
          .submit= submit_tag "Create Tickets"
    .of2{:style => 'float:left'}
      %h4 About this section
      %ul.report{:style => 'width:75%'}
        %li
          %span.stat Price
          %span.current=number_as_cents @section.price
        %li
          %span.stat Total Tickets
          %span.current=@summary.total
        %li
          %span.stat On Sale
          %span.current= @summary.available
        %li
          %span.stat Sold
          %span.current=@summary.sold
        %li
          %span.stat Comped
          %span.current=@summary.comped
    .of2{:style => 'float:left'}
      %h4 About this show
      %ul.report{:style => 'width:75%'}
        %li
          %span.stat Potential Remaining
          %span.current= number_as_cents(@show.glance.potential_remaining)
        %li
          %span.stat Original Potential
          %span.current= number_as_cents(@show.glance.potential_original)
        %li
          %span.stat On Sale
          %span.current= @show.glance.available_total
        %li
          %span.stat Sold
          %span.current= @show.glance.sold_total
        %li
          %span.stat Comped
          %span.current= @show.glance.comped_total
