- in_section :transactions
- content_for :header do
  %h1 Record Contribution

.row
  .span8.offset2
    %h4= link_to "#{@contribution.contributor.first_name} #{@contribution.contributor.last_name}", person_path(@contribution.contributor)
    %h4= @contribution.contributor.email
    .hr
    - if current_user.current_organization.has_active_fiscally_sponsored_project?
      %p Use this form for recording contributions received outside of Fractured Atlas.  Donations to Fractured Atlas Fiscally Sponsored Projects should be made through Fractured Atlas.
      %p Please contact support with any questions.
      
    %hr
  
    = form_for(@contribution, :url => contributions_path, :html=>{ :class=>'form-horizontal' }) do |form|
      = form.hidden_field :person_id
      = form.hidden_field :organization_id
      .control-group
        = form.label :subtype, "Type", :class => 'control-label'
        .controls
          = form.select :subtype, options_for_select(Action::GIVE_TYPES)
        
      .control-group
        = form.label :amount, "Dollar Value", :class => 'control-label'
        .controls      
          = form.text_field :amount, :class => :currency
        
      .control-group
        = form.label :occurred_at, "Date and Time", :class => 'control-label'
        .controls  
          = form.text_field :occurred_at, :value => l(Time.now, :format => :datetime_for_input), :readonly => true, :class => :datetimepicker
          
      .control-group
        = form.label :details, "Notes", :class => 'control-label'
        .controls 
          = form.text_field :details
      .form-actions
        = submit_tag "Save", :class => "btn"
        = link_to "Cancel", contributions_path, :class => "btn"
