- in_section :transactions
- content_for :header do
  %h1 Record Contribution

.compact-spread
  = form_for(@contribution, :url => contributions_path) do |form|
    %h4= link_to "#{@contribution.contributor.first_name} #{@contribution.contributor.last_name}", person_path(@contribution.contributor)
    = @contribution.contributor.email
    = form.hidden_field :contributor_id
    = form.hidden_field :organization_id
    %ul
      %li
        .label= form.label :subtype, "Type"
        .element= form.select :subtype, options_for_select(AthenaAction::GIVE_TYPES)

      %li
        .label= form.label :amount, "Dollar Value"
        .element= form.text_field :amount, :class => :currency

      %li
        .label= form.label :occurred_at, "Date and Time"
        .element= form.text_field :occurred_at, :value => l(Time.now, :format => :datetime_for_input), :readonly => true, :class => :datetimepicker
      %li
        .label= form.label :details, "Action Details"
        .element
          = form.text_field :details
          .description Consider including the donation amount in the details.
      %li.cancel-submit
        = link_to "Cancel", contributions_path
        = submit_tag "Create"