= render "shared/error_messages", :target => event

= form_for([ organization, event ]) do |form|

  %legend Reseller Event

  .hr

  %fieldset
    %ul
      %li
        .label= form.label :name, "Name*"
        .element= form.text_field :name
      %li
        .label= form.label :datetime, "Date/Time*"
        .element
          - if event.datetime && event.organization
            = form.text_field :datetime, :value => event.datetime_local_to_organization.to_s(:datetimepicker), :class => "datetimepicker"
          - else
            = form.text_field :datetime, :class => "datetimepicker"
      %li
        .label= form.label :venue, "Venue"
        .element= form.text_field :venue
      %li
        .label= form.label :description, "Description"
        .element= form.text_area :description, :rows => 6

  = form.submit
