- content_for :header do
  %h1= t(@kit.type.underscore)

.row
  .span10.offset1
    %p
      1) Please review your details
    %ul.kv
      %li.row-fluid
        .key.span3 Legal Organization Name
        .value.span6=@kit.organization.legal_organization_name
      %li.row-fluid
        .key.span3 EIN
        .value.span6=@kit.organization.ein
    %p
      ="2) Download the #{link_to "Artful.ly ACH Authorization Form", "/forms/artfully_etf_sign_up.pdf"} and submit this form and a voided check by email to support@artful.ly or by fax to (212) 277-8025, ATTN: Artful.ly.".html_safe
      %br

    %p
      3) If everything is correct, press "Activate #{t(@kit.type.underscore)}"
    .btn-toolbar.form-actions
      .btn-group
        = button_to "Activate #{t(@kit.type.underscore)}", kits_path(:type => @kit.type.underscore), :method => :post, :class => 'btn'
      .btn-group
        = button_to "Edit this information", requirements_kits_path(:type => @kit.type.underscore), :method => :post, :class => 'btn'
