- content_for :header do
  %h1 Charity Donation Kit

.compact-spread
  #requirements
    %h3 Tax Information

    = form_for @kit.organization, :url => tax_info_organization_path(@kit.organization) do |form|
      = hidden_field_tag :next, new_kit_path(:type => @kit.type.underscore)
      %ul
        %li
          = form.label :legal_organization_name, "Legal Organization Name"
          = form.text_field :legal_organization_name
        %li
          = form.label :ein, "EIN"
          = form.text_field :ein
      = form.submit "Update Tax Information", :class => 'btn'

