- content_for :header do
  %h1= @organization.name

.context
  %h3 Add User
  = form_tag organization_memberships_path(@organization.id), :action => "create" do
    %ul
      %li
        .label=   label_tag :user_email, "Email"
        .element= text_field_tag :user_email
      %li
        = submit_tag "Add"

  = form_for @organization, :method => "put"  do |f|
    %ul
      %li
        .label=   label :ach_on_file, "ACH on file"
        .element= f.check_box( :ach_on_file, {}, "true", "false" )
      %li
        = hidden_field_tag "back", true
      %li
        = f.submit "Update"

.document
  %h3 Members (#{@organization.users.size})
  %ul.detailed-list#memberships
    - @organization.users.each do |user|
      %li
        %h4= "#{user.email}"
        %ul.details
          %li= link_to "Remove", organization_membership_path(@organization, user.memberships.first), :confirm => "Are you sure?", :method => :delete
  %h3 Kits
  - if @organization.kits.empty?
    %p This organization does not have any kits.
  - else
    %ul.detailed-list
      - @organization.kits.each do |kit|
        %li
          %h4= kit.type
          %ul.details
            %li= link_to "Approve", activate_admin_organization_kit_path(@organization,kit), :method => :put if kit.pending?


