- content_for :header do
  %h1= @organization.name

.context
  %h3 Add User
  = form_tag admin_organization_memberships_path(@organization.id), :action => "create" do
    %ul
      %li
        .label=   label_tag :user_email, "Email"
        .element= text_field_tag :user_email
      %li
        = submit_tag "Add"

.document
  %h3 Users (#{@organization.users.size})
  %ul.detailed-list#memberships
    - @organization.users.each do |user|
      %li
        %h4= "#{user.email}"
        %ul.details
          - if user == @organization.owner
            Organization administrator
          - else
            %li= link_to "Remove", admin_organization_membership_path(@organization, user.memberships.first), :confirm => "Are you sure you want to remove #{user.email}?", :method => :delete
  %h3 Kits
  - if @organization.kits.empty?
    %p This organization does not have any kits.
  - else
    %ul.detailed-list
      - @organization.kits.each do |kit|
        %li
          %h4= kit.type
          %ul.details
            %li= link_to "Approve", activate_admin_organization_kit_path(@organization,kit), :method => :put if kit.pending?
  %h3 Bank Account
  - if @organization.bank_account.nil?
    = link_to "Add a Bank Account", new_admin_organization_bank_account_path(@organization)
  - else
    %ul.kv
      %li
        .key Routing Number
        .value= @organization.bank_account.routing_number

      %li
        .key Number
        .value= @organization.bank_account.number

      %li
        .key Account Type
        .value= @organization.bank_account.account_type

      %li
        .key Name
        .value= @organization.bank_account.name

      %li
        .key Address
        .value= @organization.bank_account.address

      %li
        .key City
        .value= @organization.bank_account.city

      %li
        .key State
        .value= @organization.bank_account.state

      %li
        .key Zip
        .value= @organization.bank_account.zip

      %li
        .key Phone
        .value= @organization.bank_account.phone
    = link_to "Edit Bank Account", edit_admin_organization_bank_account_path(@organization)

  %h3 Events
  %ul
    - @events.each do |event|
      %li= link_to event.name, admin_organization_event_path(@organization, event)