- content_for :header do
  %h1= @organization.name

- @organization.kits.each do |kit|
  - if kit.pending?
    = link_to "Approve Donation Kit", activate_admin_organization_kit_path(@organization,kit), :method => :put

="Add User"
= form_tag admin_organization_memberships_path(@organization.id), :action => "create" do
  = label_tag :user_email, "Email"
  = text_field_tag :user_email
  = submit_tag "Add"

= "Current Members"
%ul#memberships
  - @organization.users.each do |user|
    %li
      = "#{user.email}"
      = link_to "Remove from organization", admin_organization_membership_path(@organization, user.memberships.first), :confirm => "Are you sure?", :method => :delete
