-content_for :header do
  %h1 Ticket Order

= render "shared/error_messages.html", :target => @payment

%ul.line-items
  - current_order.purchasable_tickets.each do |item|
    %li= render :partial => 'athena_tickets/purchasable', :object => item.ticket
  - current_order.donations.each do |donation|
    %li= "Donation for #{donation.amount}"
  %li.total
    = "Total: $#{current_order.total}"

= form_tag checkout_path(:format => :widget) do
  - if @needs_confirmation
    = hidden_field_tag :confirmation, 1
    = render :partial => 'athena_customers/athena_customer.html', :object => @payment.customer
    = render :partial => 'athena_credit_cards/athena_credit_card.html', :object => @payment.credit_card
    = render :partial => 'athena_addresses/athena_address.html', :object => @payment.billing_address
    = render :partial => 'checkouts/save_customer.html'

  = render :partial => 'athena_payments/form.html', :locals => {:payment => @payment}

= link_to "Cancel Order", order_path(current_order, :format => :widget), :method => :delete, :confirm => 'Are you sure?'
