%ul.kv#mailing-address
  %li
    .key Address
    .value= address.address
  %li
    .key City
    .value= address.city
  %li
    .key State / Province
    .value= address.state
  %li
    .key Zip / Postal Code
    .value= address.zip
  %li
    .key Country
    .value= address.country
