.address
  .name= "#{address.first_name} #{address.last_name}"
  .company= address.company unless address.company.blank?
  .street= address.street_address
  .city-state-zip= "#{address.city}, #{address.state} #{address.postal_code}"
  .country= address.country
