= parent_form.fields_for address_type, target do |addr_form|
  = addr_form.label "First Name"
  %br
  = addr_form.text_field :first_name
  %br

  = addr_form.label "Last Name"
  %br
  = addr_form.text_field :last_name
  %br

  = addr_form.label "Company"
  %br
  = addr_form.text_field :company
  %br

  = addr_form.label "Street Address"
  %br
  = addr_form.text_field :street_address
  %br

  = addr_form.label "City"
  %br
  = addr_form.text_field :city
  %br

  = addr_form.label "State"
  %br
  = addr_form.text_field :state
  %br

  = addr_form.label "Postal Code"
  %br
  = addr_form.text_field :postal_code
  %br

  = addr_form.label "Country"
  %br
  = addr_form.text_field :country
  %br
