= parent_form.fields_for address_type, target do |addr_form|
  %ul
    %li.element.left
      = addr_form.label "First Name"
      .input-fix
        = addr_form.text_field :first_name

    %li.element.right
      = addr_form.label "Last Name"
      .input-fix
        = addr_form.text_field :last_name

    %li.element
      = addr_form.label "Company"
      .input-fix
        = addr_form.text_field :company

    %li.element
      = addr_form.label "Street Address"
      .input-fix
        = addr_form.text_field :street_address

    %li.element.left
      = addr_form.label "City"
      .input-fix
        = addr_form.text_field :city

    %li.element.right
      = addr_form.label "State"
      .input-fix
        = addr_form.text_field :state

    %li.element.left
      = addr_form.label "Postal Code"
      .input-fix
        = addr_form.text_field :postal_code

    %li.element.right
      = addr_form.label "Country"
      .input-fix
        = addr_form.text_field :country
