= form_for search, url: searches_path, method: "POST", html: {class: 'form-vertical advanced-search'} do |f|
  = hidden_field :commit, "Search"

  = f.label :event_id, "Event"
  = f.select :event_id, options_for_select(@event_options, selected: search.event_id), include_blank: ""

  = f.label :min_donations_amount, "Lifetime Donations"
  .control
    .input-prepend
      %span.add-on $
      = f.text_field :min_donations_amount, placeholder: "min", class: "input-small"
    %span.range-separator to
    .input-prepend
      %span.add-on $
      = f.text_field :max_donations_amount, placeholder: "max", class: "input-small"

  = f.label :min_donations_date, "Donations Date Range"
  .control
    = date_field_tag "search[min_donations_date]", search.min_donations_date.try(:strftime, "%F"), max: Time.now.strftime("%F")
    %span.range-separator to
    = date_field_tag "search[max_donations_date]", search.max_donations_date.try(:strftime, "%F"), max: Time.now.strftime("%F")

  = f.label :min_lifetime_value, "Lifetime Value (Ticket Sales and Donations)"
  .control
    .input-prepend
      %span.add-on $
      = f.text_field :min_lifetime_value, :placeholder => "min", class: "input-small"
    %span.range-separator to
    .input-prepend
      %span.add-on $
      = f.text_field :max_lifetime_value, :placeholder => "max", class: "input-small"

  = f.label :zip, "Location"
  = f.number_field :zip, in: 10000..99999, placeholder: "Zipcode", class: "input-small"
  -# TODO This doesn't automatically fill in the state! Please fix me!
  = f.select :state, options_for_select(sorted_us_state_names, selected: search.state), include_blank: "State", class: "input-small"

  .control
    = f.submit "Search", :class => 'btn'
    = link_to "Simple Search", people_path