%tr
  %td.name
    = link_to "#{person.first_name} #{person.last_name}", person_url(person)
    %br
    = person.email
  %td.tags
    = render :partial => 'shared/tags_uneditable', :locals => { :tag_list => person.tag_list }