.athena-ticket
  .event= athena_ticket.event
  .venue= athena_ticket.venue
  .performance= l(DateTime.parse(athena_ticket.performance), :format => :short)
  .section-name= athena_ticket.section
  .price= number_as_cents athena_ticket.price