= parent_form.fields_for address_type, target do |addr_form|
  %ul.address
    %li.element.left
      = addr_form.label :first_name, "First Name"
      .input-fix
        = addr_form.text_field :first_name

    %li.element.right
      = addr_form.label :last_name, "Last Name"
      .input-fix
        = addr_form.text_field :last_name

    %li.element
      = addr_form.label :company, "Company"
      .input-fix
        = addr_form.text_field :company

    %li.element
      = addr_form.label :street_address1, "Street Address"
      .input-fix
        = addr_form.text_field :street_address1

    %li.element
      = addr_form.label :street_address2, "Street Address"
      .input-fix
        = addr_form.text_field :street_address2

    %li.element.left
      = addr_form.label :city, "City"
      .input-fix
        = addr_form.text_field :city

    %li.element.right
      = addr_form.label :state, "State"
      .input-fix
        = addr_form.text_field :state

    %li.element.left
      = addr_form.label :postal_code, "Postal Code"
      .input-fix
        = addr_form.text_field :postal_code

    %li.element.right
      = addr_form.label :country, "Country"
      .input-fix
        = addr_form.text_field :country
