%fieldset
  %legend Discount

  .control-group
    = f.label :code, "Discount Code", :class => 'control-label'
    .controls
      = f.text_field :code, :class => 'input'
      %p.help-block 4-15 characters, not case sensitive

  .control-group
    .controls
      %label.checkbox
        = f.check_box :active
        Discount is active and can be used now.

%fieldset
  %legend
  .control-group
    = f.label :show_ids, "Discount is valid for these shows", :class => 'control-label'
    .controls
      = f.select :show_ids, options_for_select(@event.shows.collect {|s| [s.datetime.strftime("%D %l:%M%P"), s.id] }, @discount.show_ids), {}, {'data-placeholder' => "All Shows", :class => 'input chosen', :multiple => true}
  .control-group
    = f.label :chart_ids, "Discount is valid for these prices", :class => 'control-label'
    .controls
      = f.select :chart_ids, options_for_select(@event.charts.collect{|c| [c.name, c.id] }, @discount.chart_ids), {}, {'data-placeholder' => "All Prices", :class => 'input chosen', :multiple => true}

  .control-group
    .controls
      Discount requires a minimum purchase of
      = f.text_field :minimum_ticket_count, :class => 'input input-mini', :placeholder => "1"
      tickets.

%fieldset
  .control-group
    = f.label :promotion_type, :class => 'control-label'
    .controls
      %label.radio
        = f.radio_button :promotion_type, 'DollarsOffTickets', :class => 'promotion-type-radio'
        X Dollars Off Each Ticket
      %label.radio
        = f.radio_button :promotion_type, 'BuyOneGetOneFree', :class => 'promotion-type-radio'
        Buy One Get One Free

%fieldset
  = f.fields_for :properties, discount.properties do |p|
    .control-group.promotion-type-properties#DollarsOffTickets{:style => "display: none;"}
      = p.label :amount, "Amount off each ticket", :class => 'control-label'
      .controls
        = p.text_field :amount, :class => 'input-small section-price currency', :value => discount.properties[:amount]
        
    .control-group.promotion-type-properties#BuyOneGetOneFree
      
- content_for :custom_js do
  = stylesheet_link_tag 'jquery/chosen'
  = javascript_include_tag 'jquery-lib/chosen.jquery'

  :javascript
    var show_appropriate_properties = function() {
      touchCurrency();
      var promotion_type = $('.promotion-type-radio:checked').attr('value');
      $('.promotion-type-properties').hide();
      $('.control-group#' + promotion_type).show();
    };

    $(document).ready(function() {
      $('.promotion-type-radio').click(function() {show_appropriate_properties();});
      show_appropriate_properties();

      // use the fancy multi-select
      $('.chosen').chosen();
    });

  
