%fieldset
  %legend Discount

  .control-group
    = f.label :code, "Discount Code", :class => 'control-label'
    .controls
      = f.text_field :code, :class => 'input'
      %p.help-block 4-12 characters, not case sensitive

  .control-group
    .controls
      %label.checkbox
        = f.check_box :active
        Discount is active and can be used now.

  .control-group
    .controls
      Discount requires a minimum purchase of
      = f.text_field :minimum_ticket_count, :class => 'input input-mini', :placeholder => "1"
      tickets.

%fieldset
  .control-group
    = f.label :promotion_type, :class => 'control-label'
    .controls
      %label.radio
        = f.radio_button :promotion_type, 'DollarsOffTickets', :class => 'promotion-type-radio'
        X Dollars Off Each Ticket
      %label.radio
        = f.radio_button :promotion_type, 'BuyOneGetOneFree', :class => 'promotion-type-radio'
        Buy One Get One Free

%fieldset
  = f.fields_for :properties, discount.properties do |p|
    .control-group.promotion-type-properties#DollarsOffTickets{:style => "display: none;"}
      = p.label :amount, "Amount off each ticket", :class => 'control-label'
      .controls
        = p.text_field :amount, :class => 'input-small section-price currency', :value => discount.properties[:amount]
        
    .control-group.promotion-type-properties#BuyOneGetOneFree
      
- content_for :custom_js do
  :javascript
    var show_appropriate_properties = function() {
      touchCurrency();
      var promotion_type = $('.promotion-type-radio:checked').attr('value');
      $('.promotion-type-properties').hide();
      $('.control-group#' + promotion_type).show();
    };

    $(document).ready(function() {
      $('.promotion-type-radio').click(function() {show_appropriate_properties();});
      show_appropriate_properties();
    });

  
