- in_section :events
- content_for :header do
  = render :partial => 'events/header'

.row
  .span3
    - in_sub_section :details
    = render :partial => 'events/menu'
  .span9
    = render "shared/error_messages", :target => @event
    .row-fluid
      .span3
        %h3 Discounts
      .span9
        =icon_link_to("Add", temp_discount_path(@event), 'icon-plus-sign', 'btn', '')
    %table.table
      %thead
        %th Code
        %th Status
        %th Discount (average)
        %th Redeemed
      %tbody
        - @discounts.each do |discount|
          %tr
            %td= link_to discount.code, temp_discount_path(@event)
            %td- "X" if discount.active?
            %td= discount.promotion_type
            %td not yet implemented
                  