= form_for fa_user, :url => connect_organization_path(organization) do |form|
  - back ||= false
  = hidden_field_tag :back, true if back
  %ul
    %li
      = form.label :username, "FA Username", :class=>'control-label'
      = form.text_field :username
    %li
      =form.label :password, "Password", :class=>'control-label'
      =form.password_field :password
  = form.submit "Connect", :class => 'btn'