- content_for :header do
  %h1 Organization
.context
  %h2= "Name: #{@organization.name}"
  %h2= "Time Zone: #{@organization.time_zone}"

  %h2= "Taxable Organization Name: #{@organization.taxable_organization_name}" unless @organization.taxable_organization_name.nil?
  %h2= "EIN: #{@organization.ein}" unless @organization.ein.nil?

  = link_to "Kits", kits_path

.document
