- in_section :dashboard
- content_for :header do
  %h1=@organization.name
.context
  %h2=@organization.time_zone

  %h2= "Taxable Organization Name: #{@organization.taxable_organization_name}" unless @organization.taxable_organization_name.nil?
  %h2= "EIN: #{@organization.ein}" unless @organization.ein.nil?

  .h4="Your Kits"
  - if @activated_or_pending_kits.empty?
    %p="You have not activated any kits."
    = link_to "Activate now", kits_path
  - else
    - @activated_or_pending_kits.each do |kit|
      %ul.kv
        %li
          .key=kit.type
          .value=kit.state.titleize
          
    = link_to "View all kits", kits_path

.document
