- in_section :dashboard
- content_for :header do
  %h1=@organization.name

.context
  %h3 Details
  %ul.kv
    %li
      .key Legal Name
      .value= @organization.legal_organization_name
    %li
      .key EIN
      .value= @organization.ein
    %li
      .key Time Zone
      .value= @organization.time_zone

  - unless @organization.connected?
    %h2 This organization has not been connected to a Fractured Atlas member.
    %h3 Connect to Fractured Atlas
    = render :partial => 'connection_form', :locals => { :organization => @organization, :fa_user => @fa_user }
  - else
    %h2 This organization has been connected to a Fractured Atlas membership.

.document
  %h3= "Kits"
  - if @organization.kits.visible.empty?
    %p= "You have not activated any kits."
  - else
    %ul.kv
      - @organization.kits.visible.each do |kit|
        %li
          .key= kit.type
          .value= kit.state.titleize

  = link_to "View all kits", kits_path
