- in_section :dashboard
- content_for :header do
  %h1= @organization.name

%ul.kv
  - unless @organization.legal_organization_name.blank?
    %li.row-fluid
      .key.span2 Legal Name
      .value.span6= @organization.legal_organization_name
  - unless @organization.ein.blank?
    %li.row-fluid
      .key.span2 EIN
      .value.span6= @organization.ein
  %li.row-fluid
    .key.span2 Time Zone
    .value.span6= @organization.time_zone
= link_to "Edit", edit_organization_path(@organization), :class => "btn"

#organization-details.row
  #kits.span5
    %h2 Kits
    = render :partial => "kits/list", :locals => { :kits => @kits }

  #memberships.span7
    %h2 Users
    = render :partial => "memberships/list", :locals => { :organization => @organization }

  - unless @organization.connected?
    %h3 Connect to Fractured Atlas
    %p This organization has not been connected to a Fractured Atlas membership.  Enter your Fractured Atlas username and password below to connect.
    = render :partial => 'connection_form', :locals => { :organization => @organization, :fa_user => @fa_user }
  - else
    %h3 Fractured Atlas
    %p This organization is connected to a Fractured Atlas membership.
    -if @organization.has_active_fiscally_sponsored_project?
      %ul
        %li
          %h4 Fiscal Sponsorship
          %ul.report
            %li
              %span.stat Project
              %span.current= @organization.fiscally_sponsored_project.name || "&nbsp;".html_safe 
            %li
              %span.stat Website
              %span.current= @organization.fiscally_sponsored_project.website || "&nbsp;".html_safe
            %li
              %span.stat Status
              %span.current= @organization.fiscally_sponsored_project.status || "&nbsp;".html_safe