- content_for :header do
  %h1 User Administration

.context
  = link_to "Invite User", new_user_invitation_path
.document
  = form_tag admin_users_path, :method => :get do
    %ul
      %li
        .label
          = label_tag :email, "Email"
        .element
          = text_field_tag :email
          .description Start by finding a user by email address.

      %li
        = submit_tag "Search"
