%table.table
  -@show.chart.sections.each do |section|
    %tr
      %td
        %strong=section.name
      %td="#{number_as_cents section.price}"
      %td="#{section.summary.total} tickets"
      %td="#{section.summary.available} available"
      %td="#{section.summary.sold} sold"
      %td="#{section.summary.comped} comped"