- in_section :events
- content_for :header do
  %h1= link_to @event.name, event_path(@event)
  %h2
    = @event.producer
    &mdash;
    = "#{@event.venue} #{@event.city}, #{@event.state}"
  %ul.from-here
    %li= link_to "New Show", new_event_show_path(@event)
    %li= link_to "All Shows", event_shows_path(@event)


.context
  = render :partial => "glance", :locals => { :report => @event.glance }
  = render :partial => "upcoming", :locals => { :event => @event, :upcoming => @upcoming }

.document
  %h3 All Shows
  #performances
    %table.standalone.zebra
      %thead
        %tr
          %th Show
          %th Available
          %th Sold
          %th Comped
          %th Actions
      %tbody
        - @performances.each do |perf|
          %tr{ :class => perf.state }
            %td= link_to l(perf.datetime, :format => :short), event_show_path(@event, perf), :title => 'performance-datetime'
            %td.available= perf.glance.tickets.available
            %td.gross= perf.glance.tickets.sold.gross
            %td.comped= perf.glance.tickets.sold.comped
            %td= render :partial => "controls", :locals => { :performance => perf }
        %tr
          = render :partial => 'shows/new_show_for_table', :locals => { :event => @event, :performance => @next_performance }
    = will_paginate @performances
