- in_section :events
- content_for :header do
  %h1 New Show

.compact-spread
  = render "shared/error_messages", :target => @performance
  = form_for @performance, :url => event_shows_path(@event, @performance) do |form|
    #performance
      %h3= @event.name
      %ul= render :partial => 'showsform', :locals => { :performance_form => form, :target => @performance }
      .cancel-submit
        = link_to "Cancel", event_path(@event)
        = form.submit "Create"