- in_section :events
- content_for :header do
  %h1 New Show

.compact-spread
  = render "shared/error_messages", :target => @show
  = form_for @show, :url => event_shows_path(@event, @show) do |form|
    #show
      %h3= @event.name
      %ul= render :partial => 'shows/form', :locals => { :show_form => form, :target => @show }
      .cancel-submit
        = link_to "Cancel", event_path(@event)
        = form.submit "Create"