- in_section :events
- content_for :header do
  %h1= link_to @event.name, event_path(@event)
  %h2= l @performance.datetime, :format => :long_with_day

.context
  %ul.context-buttons
    %li= button_to "Add Tickets", new_show_ticket_path(@performance), :method => :get
    %li= button_to "Box Office", box_office_event_show_path(@event,@performance), :method => :get
    - if not @performance.played?
      - if not @performance.published?
        %li
          = form_tag published_event_shows_path(@performance.event) do
            = hidden_field_tag :performance_id, @performance.id
            = submit_tag "Publish"
      - else
        %li
          = form_tag unpublished_event_shows_path(@performance.event) do |form|
            = hidden_field_tag :performance_id, @performance.id
            = submit_tag "Unpublish"
    %li= button_to "Door List", door_list_event_show_path(@event,@performance), :method => :get
  = render :partial => "glance", :locals => { :report => @performance.glance }
  = render :partial => "upcoming", :locals => { :event => @event, :upcoming => @upcoming }
  %ul.kv
    %li
      .key Venue
      .value= "#{@event.venue} #{@event.city}, #{@event.state}"
    %li
      .key Producer
      .value= @event.producer

.document
  - if @performance.pending?
    %h3 Tickets
    %p= "You have not created tickets for this event.  Tickets will be created using the #{@performance.chart.name} seating chart."
    = form_tag built_event_shows_path(@performance.event) do
      = hidden_field_tag :performance_id, @performance.id
      = submit_tag "Create Tickets"

  - else
    = render :partial => 'ticket_table', :locals => { :performance => @performance, :tickets => @tickets }