%style(type="text/css") 
  :sass
    .inline
      li
        float: left
        margin-right: 10px
    .rowline
      border: 0 !important
      width: 75%
      tr
        border-bottom: 1px solid #aaa
      td
        text-align: right
        font-weight: bold

- content_for :header do
  %h1 Finance Report
.spread
  %ul.inline
    =form_tag admin_finances_path, :method => :get do
      %li
        .key= label_tag :start_date
        .value= text_field_tag :start,"#{l @start, :format => :date_for_input}", :readonly => true, :class => 'datepicker'
      %li
        .key= label_tag :end_date
        .value= text_field_tag :stop, "#{l @stop, :format => :date_for_input}", :readonly => true, :class => 'datepicker'
      %li{:style => 'padding-top:14px'}
        = submit_tag "Search"
  .clear
.spread
  %h3 Summary
  %table.standalone.rowline
    %tbody
      %tr
        %td{:style=>'width:40px'}="All Tickets"
        %td{:style=>'width:100px'}=number_as_cents @summary.all_tickets.gross_sales
        %td.supplement{:style=>'width:150px'}="#{@summary.all_tickets.sold.length} sold"
        %td.supplement{:style=>'width:150px'}="#{@summary.all_tickets.free.length} free"
        %td.supplement{:style=>'width:150px'}="#{@summary.all_tickets.comped.length} comp"
      %tr
        %td{:style=>'width:40px'}="Artful.ly Tickets"
        %td{:style=>'width:100px'}=number_as_cents @summary.artfully_tickets.gross_sales
        %td.supplement{:style=>'width:150px'}="#{@summary.artfully_tickets.sold.length} sold"
        %td.supplement=""
        %td.supplement=""
      %tr
        %td="Donations"
        %td=number_as_cents @summary.donations.gross_donations
        %td.supplement="#{@summary.donations.num_donations} donations"
        %td.supplement=""
        %td.supplement=""
      %tr
        %td="Service Fees"
        %td=number_as_cents @summary.service_fees.gross_fees
        %td.supplement="#{@summary.service_fees.num_tickets} tickets"
        %td.supplement=""
        %td.supplement=""
      %tr
        %td="Processing Fees"
        %td=number_as_cents @summary.processing_fees.gross_fees
        %td.supplement="#{@summary.processing_fees.num_tickets} tickets"
        %td.supplement="#{@summary.processing_fees.num_donations} donations"
        %td.supplement=""
      %tr
        %td="Settled"
        %td=number_as_cents @summary.settlements.net_settlements
        %td.supplement="#{@summary.settlements.num_settlements} settlements"
        %td.supplement=""
        %td.supplement=""
  %h3 Ticket Sales
  %table.standalone.zebra#ticket-sales-table
    %thead
      %tr
        %th{:style=>'width:40px'} ID
        %th{:style=>'width:30px'} Tix
        %th{:style=>'width:30px'} Don
        %th Date
        %th Person
        %th Organization
        %th Total
        %th Fee
    %tbody
      - @artfully_orders.each do |order|
        %tr
          %td=order.id
          %td
            - if order.has_ticket?
              =check_mark
              .hidden="ticket"
          %td
            - if order.has_donation?
              =check_mark
              .hidden="donation"
          -unless order.created_at.nil?
            %td= l order.created_at, :format => :short
          %td=" #{order.person_last_name}, #{order.person_first_name}"
          %td= link_to order.organization_name, admin_organization_path(order.organization_id)
          %td= number_as_cents order.total
          %td= number_as_cents order.service_fee

  %h3 Settlements
  %table.standalone#settlement-table
    %thead
      %tr
        %th ID
        %th Org
        %th Show
        %th Date
        %th Transaction ID
        %th Gross
        %th Realized
        %th Net
    %tbody
      -@settlements.each do |settlement|
        %tr{:class => settlement.success? ? "succeeded" : "failed" }
          %td= settlement.id
          %td= link_to settlement.organization.name, admin_organization_path(settlement.organization_id)
          %td= l(settlement.show.datetime_local_to_event, :format => :short) unless settlement.show.nil?
          %td= l settlement.created_at, :format => :short
          %td
            -if settlement.success?
              =settlement.transaction_id
            -else
              FAILED (#{settlement.ach_response_code})
          %td= number_as_cents(settlement.gross)
          %td= number_as_cents(settlement.realized_gross)
          %td= number_as_cents(settlement.net)
          %td
            -if !settlement.success?
              = form_tag new_admin_settlement_path, :method=>'get' do
                = hidden_field_tag "show_id", settlement.show_id
                = submit_tag "Re-settle", :class => [ :mini, :full ]