#deletes.grouped-form
  %h3 Delete
  = form_tag delete_performance_tickets_path(@performance), :method => :delete do
    = hidden_field_tag :performance_id, performance.id
    %ul
      - performance.destroyable_tickets.each do |ticket|
        %li
          .label-and-element
            = check_box_tag "selected_tickets[]", ticket.id, false, :id => "delete_ticket_#{ticket.id}", :class => "item_#{ticket.id}"
            = label_tag "item_#{ticket.id}", ticket.id
    = submit_tag "Delete"