%ul#admin-menu
  %li= link_to "Home", admin_root_path
  %li= link_to "Users", admin_users_path
  %li= link_to "Organizations", admin_organizations_path
  %li= link_to "Kits", admin_kits_path
  %li= link_to "Settlements", admin_settlements_path
  %li= link_to "Orders", artfully_admin_orders_path