%table.standalone#settlement-table
  %thead
    %tr
      %th ID
      %th Org
      %th Show
      %th Date
      %th Transaction ID
      %th Gross
      %th Realized
      %th Net
      %th
  %tbody
    -settlements.each do |settlement|
      %tr{:class => settlement.success? ? "succeeded" : "failed" }
        %td= settlement.id
        %td= link_to settlement.organization.name, admin_organization_path(settlement.organization_id)
        %td= l(settlement.show.datetime_local_to_event, :format => :short) unless settlement.show.nil?
        %td= l settlement.created_at_local_to_admins, :format => :short
        %td
          -if settlement.success?
            =settlement.transaction_id
          -else
            FAILED (#{settlement.ach_response_code})
        %td= number_as_cents(settlement.gross)
        %td= number_as_cents(settlement.realized_gross)
        %td= number_as_cents(settlement.net)
        %td
          -if !settlement.success?
            = form_tag new_admin_settlement_path, :method=>'get' do
              = hidden_field_tag "show_id", settlement.show_id
              = submit_tag "Re-settle", :class => [ :mini, :full ]