%table.table#shows-table
  %thead
    %tr
      %th ID
      %th Datetime
      %th State
      %th Free
      %th Sold
      %th Event
      %th Organization
      %th Settlements
  %tbody
    -shows.each do |show|
      %tr
        %td= show.id
        %td= l show.datetime_local_to_unscoped_event, :format => :short
        %td= show.state
        %td= check_mark if show.unscoped_event.free?
        %td= show.glance.sold_total
        %td
          = "#{show.unscoped_event.id} - #{show.unscoped_event.name}"
          = " [DELETED]" unless show.unscoped_event.deleted_at.nil?
        %td= "#{show.organization.id} - #{show.organization.name}"
        %td= show.settlements.length