- in_section :events
- content_for :header do
  %h1 Box Office
  %h2="#{@event.name}, #{l(@show.datetime_local_to_event, :format => :long_with_day)}"

.spread
  = form_tag event_show_sales_path, :remote => true do
    %fieldset.floater.thirdish
      %h4 Sections
      %ul#section-list
        - @sale.sections.each do |section|
          %li
            .label= label_tag "quantities[#{section.id}]", "#{section.name} #{number_as_cents(section.price)}"
            .quantity.element
              - if section.summary(@show.id).available > 0
                = select_tag "quantities[#{section.id}]", options_for_select(0..[section.summary(@show.id).available,10].min, @sale.quantities[section.id]), :class => 'ticket-quantity-select'
              - else
                .sold-out
                  sold out
                
    %fieldset.floater.thirdish
      %h4 Customer
      %ul.radio-list
        %li
          .radio= check_box_tag(:anonymous, nil, params[:anonymous])
          .label= label_tag(:anonymous, "Anonymous")
        %li.hidden
          .radio= radio_button_tag(:person_id, @dummy.id, true, :id => "dummy")
          .label= label_tag(:person_id, "Anonymous Sale")
      %ul#person-search
        %li
          .full.paired.element
            = text_field_tag(:terms, params[:terms], :id => "terms")
            = tag(:input, :type => :button, :value => "Search", :id => "people-for-sales", :"data-url" => people_url)
      %ul.radio-list.target
        .people-search-message
        - @people.each do |person|
          %li
            .radio= radio_button_tag(:person_id, person.id, params[:person_id] == person.id)
            .label.eighty= label_tag(:person_id, "#{person.first_name} #{person.last_name}")
        %li.template.hidden
          .radio
          .label.eighty

    %fieldset.floater.thirdish
      %h4 Payment
      %ul.radio-list
        %li
          .radio= radio_button_tag(:payment_method, :cash, true, :class => 'payment-method', :disabled => 'true')
          .label= label_tag(:payment_method, "Cash")
        %li
          .radio= radio_button_tag(:payment_method, :credit_card_swipe, false, :class => 'payment-method', :disabled => 'true')
          .label= label_tag(:payment_method, "Credit (Swipe)")
        %li
          .radio= radio_button_tag(:payment_method, :credit_card_manual, false, :class => 'payment-method', :disabled => 'true')
          .label= label_tag(:payment_method, "Credit (Manual)")
      %ul#payment-info.hidden
        %li
          .label= label_tag("credit_card[cardholder_name]", "Name on Card")
          .element= text_field_tag("credit_card[cardholder_name]", params[:credit_card][:cardholder_name])
        %li
          .label= label_tag("credit_card[card_number]", "Card Number")
          .element= text_field_tag("credit_card[card_number]", params[:credit_card][:card_number])
        %li
          .label= label_tag("credit_card[expiration_date]", "Expiration Date")
          .element.date_field
            = hidden_field_tag("credit_card[expiration_date(3i)]", 1)
            = select_tag("credit_card[expiration_date(2i)]", options_for_select(1..12, params[:credit_card]["expiration_date(2i)"]))
            = select_tag("credit_card[expiration_date(1i)]", options_for_select(Time.now.year..Time.now.year + 10, params[:credit_card]["expiration_date(1i)"]))
            
    %fieldset.floater.slim
      #total.total
        %span total
        .price= number_as_cents 0
      #checkout-now
        %button#checkout-now-button{:style => 'width:100%'}
          Checkout
  .clear
      
.document
  %h3 Door List
  #door-list
    %table.standalone
      %thead
        %tr
          %th
          %th Buyer
          %th Email
          %th Section
          %th Price
      %tbody
        - @door_list.items.each do |item|
          %tr
            %td= "â˜"
            %td= "#{item.buyer.first_name} #{item.buyer.last_name}"
            %td= item.buyer.email
            %td= item.ticket.section.name
            %td= number_as_cents(item.ticket.price)
            
#sell-popup
  #top-container
    #sell-total.total{:style => 'float:left'}
      %span total
      .price= number_as_cents 0
    #sell-container{:style => 'float:right'}
      %button#sell-button
        Sell
      #swipe-now.hidden
        "Swipe card to complete transaction"
    .clear
  #popup-ticket-list
    %table
      %thead
        %tr
          %th
            Section
          %th
            Price
      %tbody
  %button#cancel-button
    Cancel