- in_section :events
- content_for :header do
  %h1 Box Office
  %h2="#{@event.name}, #{l(@show.datetime, :format => :long_with_day)}"

.context
  %h3 New Sale
  = form_tag event_show_sales_path do
    %fieldset
      %h4 Sections
      %ul
        - @sale.sections.each do |section|
          %li
            .label= label_tag "quantities[#{section.id}]", section.name
            .quantity.element= select_tag "quantities[#{section.id}]", options_for_select(0..20, @sale.quantities[section.id])
    %fieldset
      %h4 Customer Information
      %ul.radio-list
        %li
          .radio= radio_button_tag(:person_id, @dummy.id, true)
          .label= label_tag(:person_id, "Anonymous Sale")
      .or
      %ul
        %li
          .full.paired.element
            = text_field_tag(:terms, "", :id => "terms")
            = tag(:input, :type => :button, :value => "Search", :id => "people-for-sales", :"data-url" => people_url)
      %ul.radio-list.target
        %li.template.hidden
          .radio
          .label

    %fieldset
      %h4 Payment Information
      %p For a cash payment, leave these fields blank.

      %ul
        %li
          .label= label_tag("credit_card[card_number]", "Card Number")
          .element= text_field_tag("credit_card[card_number]")
        %li
          .label= label_tag("credit_card[expiration_date]", "Expiration Date")
          .element.date_field
            = hidden_field_tag("credit_card[expiration_date(3i)]", 1)
            = select_tag("credit_card[expiration_date(2i)]", options_for_select(1..12))
            = select_tag("credit_card[expiration_date(1i)]", options_for_select(Time.now.year..Time.now.year + 10))

      = submit_tag "Checkout"

.document
  %h3 Door List
  - unless @door_list.items.empty?
    %table#door-list.standalone
      %thead
        %tr
          %th
          %th Buyer
          %th Email
          %th Section
          %th Price
      %tbody
        - @door_list.items.each do |item|
          %tr
            %td= "☐"
            %td= "#{item.buyer.first_name} #{item.buyer.last_name}"
            %td= item.buyer.email
            %td= item.ticket.section
            %td= number_as_cents(item.ticket.price)
