<%= form_for performance, :url => event_performances_path(event, performance) do |top_form|%>
  <%= top_form.fields_for performance do |form| %>
    <tr id="new-performance-row" <%=@performance.chart_id.blank? ? "style='display:none'" : ''%>>
      <td style="padding:2px 0px"></td>
      <td style="padding:2px 0px">
        <%= form.hidden_field :timezone, { :value => event.time_zone } %>
        <%
          clazz = 'datepicker hasDatePicker'
          if !session[:performance].nil?
            clazz += ' error'
          end
        %>
        <%=form.text_field :datetime, {:value=> @next_performance_datetime.to_date.strftime("%m/%d/%Y"), :class=>clazz, :size=>'10'}%>
        <%#=form.text_field :datetime, {:class=>clazz, :size=>'10'}%>
      </td>
      <td style="padding:2px 0px">
        <%=form.time_select :datetime, {:default=> {:hour=>@next_performance_datetime.hour, :minute=> @next_performance_datetime.min}, :size=>'3'} %>
        <%#=form.time_select :datetime, {:size=>'3'} %>
      </td>
      <td style="padding:2px 0px">
        <%
          default_chart_id_as_s = performance.chart_id.nil? ? nil : performance.chart_id.to_s
        %>
        <%=form.select :chart_id, options_from_collection_for_select(event.charts, "id", "name", default_chart_id_as_s) %>
      </td>
      <td colspan="2" style="padding:2px 0px; text-align:right">
        
        <%= form.submit "Submit" %>
        <%= form.submit "Cancel", {:class=>'cancel-new-performance-link'} %>
      </td>
    </tr>
  <%end%>
<%end%>