- content_for :scripts do
  = javascript_include_tag "grouped-form"

= render :partial => 'tickets/on_sale/grouped_form', :locals => { :performance => @performance, :tickets => @tickets }
= render :partial => 'tickets/off_sale/grouped_form', :locals => { :performance => @performance, :tickets => @tickets }
= render :partial => 'tickets/delete/grouped_form', :locals => { :performance => @performance, :tickets => @tickets }
= render :partial => 'comps/grouped_form', :locals => { :performance => @performance, :tickets => @tickets }
= render :partial => 'tickets/update_price/grouped_form', :locals => { :performance => @performance, :tickets => @tickets.select(&:repriceable?) }

#tickets.grouped-form-target
  = form_for @performance, :url => bulk_edit_performance_tickets_path(@performance), :method => :put do |form|
    .table-controls
      %ul.bulk-actions
    %table#ticket-table.zebra
      %thead
        %tr
          %th.grouped-checkbox= check_box_tag :all, nil, false, :class => :checkall
          %th Section
          %th Price
          %th Status
      %tbody
        - tickets.each do |ticket|
          %tr{:id => "row_item_#{ticket.id}", :class => ticket.state }
            %td.grouped-checkbox= check_box_tag "item_#{ticket.id}", ticket.id, false, :disabled => true
            %td= ticket.section
            %td= number_as_cents ticket.price
            %td= ticket_status(ticket)
