- in_section :events
- content_for :header do
  /%h1
  %h2= "Door List for \"#{@performance.event.name}\" on #{l @performance.datetime, :format => :long_with_day} at #{@performance.event.venue}"

.context
  %h3 Print Preview
  = link_to_function("Toggle Printable View", "javascript:togglePrintPreview()", :class => 'button_link')
.document
  %h3 Tickets
  - unless @door_list.items.empty?
    #door-list
      %table#door-list.tablesorter.standalone
        %thead
          %tr
            %th
            %th Buyer
            %th Email
            %th Section
            %th Price
        %tbody
          - @door_list.items.each do |item|
            %tr
              %td= "☐"
              %td= "#{item.buyer.last_name}, #{item.buyer.first_name}"
              %td= item.buyer.email
              %td= item.ticket.section
              %td= number_as_cents(item.ticket.price)

