- content_for :header do
  %h1= "Door List for #{l @performance.datetime, :format => :long_with_day}"

= contextual_menu do |m|
  - m.item_to "Event", event_path(@performance.event), :title => "New Event", :icon => "icons/light/Gear.png"
  - m.item_to "Performance", performance_path(@performance), :title => "View Performance", :icon => "icons/light/Gear.png"
  - m.item_to "Edit", edit_performance_path(@performance), :icon => "icons/light/Writing.png"
  - m.item_to "Duplicate", duplicate_performance_path(@performance), :icon => "icons/light/Scanner.png"
  - m.item_to "Put on Sale", put_performance_on_sale_path(@performance) unless @performance.on_sale?
  - m.item_to "Take off Sale", take_performance_off_sale_path(@performance) if @performance.on_sale?
  -# m.item_to "Printable Door List", printable_door_list_performance_path(@performance) if @performance.has_door_list?

%br
%br
%br
%br
= link_to "Printable Door List", printable_door_list_performance_path(@performance), :class => 'button_link'
%br
%br
<a href="javascript:togglePrintPreview()">Toggle Print Preview</a>
%br
= link_to_function("Print this Page", "javascript:window.print()")

- unless @door_list.items.empty?
  %table#door-list.normal.tablesorter.fullwidth
    %thead
      %tr
        %th Buyer
        %th Email
        %th Ticket
    %tbody
      - @door_list.items.each do |item|
        %tr
          %td= "#{item.buyer.first_name} #{item.buyer.last_name}"
          %td= "#{item.buyer.email}"
          %td= number_to_currency item.ticket.price