- in_section :events
- content_for :header do
  %h1= link_to @event.name, event_path(@event)
  %h2
    = @event.producer
    &mdash;
    = "#{@event.venue} #{@event.city}, #{@event.state}"
  %ul.from-here
    %li= link_to "New Performance", new_event_performance_path(@event)
    %li= link_to "All Performances", event_performances_path(@event)


.context
  %h3 Upcoming Performances
  = render :partial => "upcoming", :locals => { :event => @event, :upcoming => @upcoming }

.document
  = render :partial => "glance", :locals => { :report => @event.glance }
  %h3 All Performances
  #performances
    %ul.performance-list
      - @performances.each do |performance|
        %li{ :class => performance.state }
          %h6= link_to l(performance.datetime, :format => :short), event_performance_path(@event,performance), :title => 'performance-datetime'
          = render :partial => "controls", :locals => { :performance => performance }
      %li.new-item
        = render :partial => 'performances/new_performance_for_table', :locals => { :event => @event, :performance => @performance }
    = will_paginate @performances