.context
  = render :partial => "upcoming", :locals => { :event => @event, :upcoming => @upcoming }
  %ul.more
    %li= link_to "New Performance", new_event_performance_path(@event)
    %li= link_to "View all Performances", event_performances_path(@event)
.document
  %h3 All Performances
  #performances
    .table-controls
    %ul.performance-list
      - @performances.each do |performance|
        %li
          %span.stats-controls= link_to "(more)", "#"
          %h6= link_to l(performance.datetime, :format => :short), event_performance_path(@event,performance), :title => 'performance-datetime'
      %li.new-item
        = render :partial => 'performances/new_performance_for_table', :locals => { :event => @event, :performance => @performance }
