.context
  %h3 Performances
  - unless @event.performances.empty?
    %ul.detailed-list#of_performances
      - @event.performances.each do |performance|
        %li
          %h4= link_to l(performance.datetime, :format => :short), performance_path(performance), :title => 'performance-datetime'
          %ul.details
            %li= link_to "Delete", event_performance_path(@event, performance), :confirm => "Are you sure?", :method => :delete if can?(:destroy, performance)
  %ul.more
    %li= link_to "New Performance", new_event_performance_path(@event)
    %li= link_to "View all Performances", event_performances_path(@event)
.document
  %h3 All Performances
  #performances
    .table-controls
    %ul.performance-list
      - @performances.each do |performance|
        %li
          %span.stats-controls= link_to "(more)", "#"
          %h6= link_to l(performance.datetime, :format => :short), performance_path(performance), :title => 'performance-datetime'
      %li.new-item
        = render :partial => 'performances/new_performance_for_table', :locals => { :event => @event, :performance=>@performance }
