- in_section :events
- content_for :header do
  %h1 Show this Performance
  %h2 Add this performance to the widget

.spread
  %h3= @performance.event.name
  %h4= l(@performance.datetime)
  %p= "You are showing the #{l @performance.datetime} performance of #{@performance.event.name}."

  = form_tag published_event_performances_path(@performance.event) do |form|
    = hidden_field_tag :confirm, :true
    = hidden_field_tag :performance_id, @performance.id
    %p If this is correct, please click confirm it by clicking
    = submit_tag "Publish"

  %p
    If this is not correct,
    = link_to "cancel this action and return to the performance page", event_performance_url(@performance.event, @performance)