- in_section :events
- content_for :header do
  %h1= link_to @event.name, event_path(@event)
  %h2= l @performance.datetime, :format => :long_with_day
  %ul.from-here
    %li= link_to "New Performance", new_event_performance_path(@event)
    %li= link_to "All Performances", event_performances_path(@event)
    %li= link_to "Door List", door_list_event_performance_path(@event,@performance)
    - if not @performance.on_sale?
      %li= link_to "Show this Performance", put_on_sale_event_performance_path(@event, @performance), :method => :put
    - else
      %li= link_to "Hide this Performance", take_off_sale_event_performance_path(@event, @performance), :method => :put


.context
  %h3 Upcoming Performances
  = render :partial => "upcoming", :locals => { :event => @event, :upcoming => @upcoming }

  %ul.kv
    %li
      .key Venue
      .value= "#{@event.venue} #{@event.city}, #{@event.state}"
    %li
      .key Producer
      .value= @event.producer

.document
  = render :partial => "glance", :locals => { :performance => @performance }

  %h3 Tickets
  - if @performance.pending?
    %p You have not created tickets for this event.
    %p= link_to "Create tickets now", create_tickets_for_performance_path(@performance)
  - else
    = form_for @performance, :url => bulk_edit_performance_tickets_path(@performance), :method => :put do |form|
      .table-controls
        %ul.bulk-actions
          %li= submit_tag "Put on Sale"
          %li= submit_tag "Take off Sale"
          %li= submit_tag "Delete"
          %li= submit_tag "Comp"
          %li= submit_tag "Change Price"

      =render :partial => 'ticket_table', :locals => { :performance => @performance, :tickets => @tickets }
