- in_section :events
- content_for :header do
  %h1= link_to @event.name, event_path(@event)
  %h2= l @performance.datetime, :format => :long_with_day
  %ul.from-here
    %li= link_to "New Performance", new_event_performance_path(@event)
    %li= link_to "All Performances", event_performances_path(@event)
    %li= link_to "Door List", door_list_event_performance_path(@event,@performance)
    -if not @performance.played?
      - if not @performance.published?
        %li
          = form_tag published_event_performances_path(@performance.event) do
            = hidden_field_tag :performance_id, @performance.id
            = submit_tag "Publish"
      - else
        %li
          = form_tag unpublished_event_performances_path(@performance.event) do |form|
            = hidden_field_tag :performance_id, @performance.id
            = submit_tag "Unpublish"

.context
  %h3 Upcoming Performances
  = render :partial => "upcoming", :locals => { :event => @event, :upcoming => @upcoming }

  %ul.kv
    %li
      .key Venue
      .value= "#{@event.venue} #{@event.city}, #{@event.state}"
    %li
      .key Producer
      .value= @event.producer

.document
  = render :partial => "glance", :locals => { :report => @performance.glance }

  %h3 Tickets
  - if @performance.pending?
    = form_tag built_event_performances_path(@performance.event) do
      = hidden_field_tag :performance_id, @performance.id
      = submit_tag "Create Tickets"

    %p You have not created tickets for this event.  Create tickets using the following seat chart:
    %h5=@performance.chart.name
    %p= render :partial => 'sections/section_table', :locals => { :chart => @performance.chart, :include_link => false }
  - else
    = render :partial => 'ticket_table', :locals => { :performance => @performance, :tickets => @tickets }