- content_for :header do
  %h1 Take off Sale
  %h2 Remove this performance from the widget

.context
.document
  %p= "You are removing #{l @performance.datetime.in_time_zone(@performance.event.time_zone)} performance of #{@performance.event.name} to the widget."


  = form_for @performance, :url => take_off_sale_event_performance_path(@performance.event, @performance) do |form|
    = hidden_field_tag :confirm, :true
    %p If this is correct, please click confirm it by clicking
    = submit_tag "Take off Sale from Widget"

  %p
    If this is not correct,
    = link_to "cancel this action and return to the performance page", event_performance_url(@performance.event, @performance)