-content_for :header do
  %h1 Discounts

= form_tag sales_orders_path, :method => :get, :class => 'well form-inline' do
  = label_tag :start, "From", :class => "control-label"
  = text_field_tag :start,"#{l Time.now, :format => :date_for_input}", :readonly => true, :class => 'datepicker input-small'

  = label_tag :stop, "To", :class => "control-label"
  = text_field_tag :stop, "#{l Time.now, :format => :date_for_input}", :readonly => true, :class => 'datepicker input-small'
      
  .pull-right
    = submit_tag "Search", :class => "btn"

.row
  .span12
    Giggity