-content_for :header do
  %h1 Discounts

= form_tag sales_orders_path, :method => :get, :class => 'well form-inline' do
  = label_tag :code, "Code", :class => "control-label"
  = select_tag :code, options_for_select(["SAVE15", "FRIENDS", "LOVERS", "ENEMIES", "(All)"])

  = label_tag :start, "From", :class => "control-label"
  = text_field_tag :start,"#{l Time.now, :format => :date_for_input}", :readonly => true, :class => 'datepicker input-small'

  = label_tag :stop, "To", :class => "control-label"
  = text_field_tag :stop, "#{l Time.now, :format => :date_for_input}", :readonly => true, :class => 'datepicker input-small'
      
  .pull-right
    = submit_tag "Search", :class => "btn"

.row
  .span12
    %table.table.zebra#order-table
      %thead
        %tr
          %th{:style=>'width:40px'} Order
          %th Date
          %th Person
          %th Total
          %th Fee
      %tbody
        - @orders.each do |order|
          %tr
            %td=link_to order.id, admin_order_path(order)
            -unless order.created_at.nil?
              %td= l order.created_at_local_to_admins, :format => :short
            %td="#{order.person_first_name} #{order.person_last_name}"
            %td= number_as_cents order.total
            %td= number_as_cents order.service_fee