%table.table.table-condensed
  %tr
    %td Users
    %td{:style => 'width: 70px; text-align:right'}= @stats.users
  %tr
    %td Signins > 1
    %td{:style => 'width: 70px; text-align:right'}= @stats.logged_in_more_than_once
  %tr
    %td Organizations
    %td{:style => 'width: 70px; text-align:right'}= @stats.organizations
  %tr
    %td FA connections
    %td{:style => 'width: 70px; text-align:right'}= @stats.fa_connected_orgs
  %tr
    %td Active FAFS
    %td{:style => 'width: 70px; text-align:right'}= @stats.active_fafs_projects
    
%table.table.table-condensed
  %tr
    %td Ticketing Kits
    %td{:style => 'width: 70px; text-align:right'}= @stats.ticketing_kits
  %tr
    %td Donation Kits
    %td{:style => 'width: 70px; text-align:right'}= @stats.donation_kits
    
%table.table.table-condensed
  %tr
    %td Tickets
    %td{:style => 'width: 70px; text-align:right'}= @stats.tickets
  %tr
    %td Tickets Sold
    %td{:style => 'width: 70px; text-align:right'}= @stats.tickets_sold
  %tr
    %td Regular Donations
    %td{:style => 'width: 70px; text-align:right'}= @stats.donations
  %tr
    %td FAFS Donations
    %td{:style => 'width: 70px; text-align:right'}= @stats.fafs_donations