%footer.footer
  - if params[:controller] == 'pages'
    = link_to 'Powered by Fractured Atlas', 'http://wwww.fracturedatlas.org', :class => 'powered-by'
  %ul.nav
    %li= link_to 'Updates', updates_path
    %li= link_to 'Privacy Policy', privacy_path
    %li= link_to 'Terms of Use', tou_path
    %li= link_to 'User Agreement', user_agreement_path