#menu
  %ul
    %li
      = link_to root_path do
        = image_tag "icons/small_icons_3/dashboard2.png"
        %span Dashboard
    %li
      = link_to events_path do
        = image_tag "icons/small_icons_3/MyEvents.png"
        %span Events
    %li
      = link_to charts_path do
        = image_tag "icons/small_icons_3/Designs.png"
        %span Charts
    %li
      = link_to people_path do
        = image_tag "icons/small_icons_3/users.png"
        %span People
