#menu
  %ul
    %li
      = link_to root_path do
        = image_tag "icons/small_icons_3/Home.png"
        %span Home

    %li
      = link_to events_path do
        = image_tag "icons/small_icons_3/MyEvents.png"
        %span Events

    %li
      = link_to current_user do
        = image_tag "icons/small_icons_3/dashboard2.png"
        %span Dashboard

    %li
      = link_to tickets_path do
        = image_tag "icons/small_icons_3/tickets.png"
        %span Tickets