%ul#main-menu
  %li{ :class => active?(:dashboard)}
    = link_to "Dashboard", dashboard_path
    %ul
      %li= link_to "Credit Cards", credit_cards_path
      %li= link_to "My Organization", organizations_path
      %li
        %a{:href => "#"} Configuration
      %li
        %a{:href => "#"} Help
      %li= link_to "Sign out", destroy_user_session_path


  %li{ :class => active?(:events)}
    = link_to "Events", events_path
    %ul
      %li= link_to "Chart Templates", charts_path
      %li= link_to "Reports", "#"
      %li= link_to "Configuration", "#"

  %li{ :class => active?(:people)}
    = link_to "People", people_path
    %ul
      %li
        %a{:href => "/people/new"} New Person
      %li
        %a{:href => "/people"} Search
      %li
        %a{:href => "#"} Donations
      %li
        %a{:href => "/orders"} Orders

  - if can? :administrate, :all
    %li= link_to "Administration", admin_root_path