%ul#main-menu
  %li{ :class => active?(:dashboard) }
    = link_to "Dashboard", root_path
    %ul
      %li= link_to "My Organization", organizations_path
      %li= link_to "Sign Out", destroy_user_session_path

  %li{ :class => active?(:events) }
    = link_to "Events", events_path
    %ul
      %li= link_to "New Event", new_event_path
      %li= link_to "Seat Charts", charts_path

  %li{ :class => active?(:people) }
    = link_to "People", people_path
    %ul
      %li= link_to "New Contact", new_person_path
      %li= link_to "Search", people_path
      %li= link_to "List Segments", segments_path

  %li{ :class => active?(:reports) }
    = link_to "Reports", reports_path
    %ul
      %li= link_to "Statements", statements_path
      %li= link_to "Settlements", settlements_path

  %li{ :class => active?(:transactions) }
    = link_to "Transactions", orders_path
    %ul
      %li= link_to "Sales", sales_orders_path
      %li= link_to "Contributions", contributions_path
      %li= link_to "Search", orders_path
  %li
  %li{ :class => active?(:help) }
    %span.top-level Information
    %ul
      %li= link_to "Privacy Policy", page_path("privacy")
      %li= link_to "Terms of Use", page_path("tou")
      %li= link_to "User Agreement", page_path("user_agreement")
      %li= link_to "Pricing", page_path("pricing")
      %li= link_to "Feature Requests", "http://artfully.zendesk.com/forums/318163-feature-requests", :target => "_blank"
      %li= link_to "Knowledge Base", "http://artfully.zendesk.com/home", :target => "_blank"