!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= "#{yield :title} : Artful.ly"
    = favicon_link_tag
    = stylesheet_link_tag :bootstrap, :media => :all
    = stylesheet_link_tag :application, :media => :screen
    = stylesheet_link_tag :printing, :media => :print
    = csrf_meta_tag

  %body{:id => "admin"}
    #header
      = render 'admin/shared/menu'
    .container
      #heading= yield :header
      = render :partial => 'layouts/flash', :locals => { :flash => flash }
      - flash.discard
      = yield

    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"
    = javascript_include_tag :application, :bootstrap
    = yield :custom_js
