!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= "#{yield :title} : Artful.ly"
    = favicon_link_tag
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway:100'
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Arimo:regular,italic,bold"
    = stylesheet_link_tag "https://asset0.zendesk.com/external/zenbox/v2.1/zenbox.css"
    = include_stylesheets :vendor, :application, :media => :screen
    = include_stylesheets :printing, :media => :print
    = csrf_meta_tag

  %body
    #header
      %ul#admin-menu
        %li= link_to "Home", admin_root_path
        %li= link_to "Users", admin_users_path
        %li= link_to "Organizations", admin_organizations_path
        %li= link_to "Kits", admin_kits_path
        %li= link_to "Settlements", admin_settlements_path
    #content
      #page
        #heading= yield :header
        = render :partial => 'layouts/flash.html', :locals => { :flash => flash }
        - flash.discard
        = yield
    #footer
      #current
        #current-user= current_admin.email
        #current-org= link_to "Sign Out", destroy_admin_session_path

    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.js"
    = javascript_include_tag "https://www.denoteapp.com/js/allow.js" if Rails.env.demo?
    = include_javascripts :vendor, :application, :custom
