!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= "#{yield :title} : Artful.ly"
    = favicon_link_tag
    -# = stylesheet_link_tag :vendor, :media => :screen
    = stylesheet_link_tag "bootstrap"
    = stylesheet_link_tag "application"
    -# = stylesheet_link_tag :printing, :media => :print
    = csrf_meta_tag
    = render :partial => 'layouts/google_analytics'
  %body
    = render :partial => 'layouts/menu'
    .container
      #heading= yield :header
      = render :partial => 'layouts/flash.html', :locals => { :flash => flash }
      - flash.discard
      = content_for?(:menu_sub_template) ? yield(:menu_sub_template) : yield
      = render 'layouts/footer'

    = render :partial => "shared/help_tab"
    = render :partial => "shared/feedback_footer"
    = javascript_include_tag 'application'
    = yield :custom_js
