!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= "#{yield :title} : Artful.ly"
    = favicon_link_tag
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway:100'
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Arimo:regular,italic,bold"
    = stylesheet_link_tag "https://asset0.zendesk.com/external/zenbox/v2.1/zenbox.css"
    = include_stylesheets :vendor, :application, :media => :screen
    = include_stylesheets :printing, :media => :print
    = csrf_meta_tag
    = render :partial => 'layouts/google_analytics'
  %body
    #header
      = render :partial => 'layouts/menu'
    #content
      .logo{ :id => active_section }
      #page
        #heading= yield :header
        = render :partial => 'layouts/flash.html', :locals => { :flash => flash }
        - flash.discard
        = yield
    #footer
      #current
        #current-user= current_user.email
        #current-org= link_to current_user.current_organization.name, current_user.current_organization if current_user.is_in_organization?
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.js"
    / = javascript_include_tag "http://www.denoteapp.com/js/allow.js" if Rails.env.demo?
    = render :partial => "shared/help_tab" unless Rails.env.development?
    = include_javascripts :vendor, :application, :custom
