!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= "#{yield :title} : Artful.ly"
    = favicon_link_tag
    = include_stylesheets :application, :media => :screen
    = include_stylesheets :printing, :media => :print
    = csrf_meta_tag
    = render :partial => 'layouts/google_analytics'
  %body
    = render :partial => 'layouts/menu'
    .container
      #heading= yield :header
      = render :partial => 'layouts/flash.html', :locals => { :flash => flash }
      - flash.discard
      = content_for?(:menu_sub_template) ? yield(:menu_sub_template) : yield
      %footer.footer
        %ul.nav
          %li= link_to 'Updates', updates_path
          %li= link_to 'Privacy Policy', privacy_path
          %li= link_to 'Terms of Use', tou_path
          %li= link_to 'User Agreement', user_agreement_path
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"
    = include_javascripts :bootstrap
    = render :partial => "shared/help_tab"
    = render :partial => "shared/feedback_footer"
    = include_javascripts :vendor, :application, :custom
    = yield :custom_js
