!!!
%html
  %head
    = stylesheet_link_tag :bootstrap, "widget-cart"
    = csrf_meta_tag
    = render :partial => 'layouts/google_analytics'
  %body
    .container
      .row
        #cart.span9
          = yield :header
          = render :partial => 'layouts/flash.html', :locals => { :flash => flash }
          - flash.discard
          = yield
        #controls.span3
          = yield :controls

    = javascript_include_tag "widget-cart"
    :javascript
      $("document").ready(function(){
        $(".currency").each(function(index, element){
          var name = $(this).attr('name'),
              input = $(this),
              form = $(this).closest('form'),
              hiddenCurrency = $(document.createElement('input'));

          input.maskMoney({showSymbol:true, symbolStay:true, allowZero:true, symbol:"$"});
          input.attr({"id":"old_" + name, "name":"old_" + name});
          hiddenCurrency.attr({'name': name, 'type': 'hidden'}).appendTo(form);

          form.submit(function(){
            hiddenCurrency.val(Math.round( parseFloat(input.val().substr(1).replace(/,/,"")) * 100 ));
          });
        });
      });