!!!
%html
  %head
    = include_stylesheets :store
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway:100'
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Arimo:regular,italic,bold"
    = csrf_meta_tag
    = render :partial => 'layouts/google_analytics'
  %body
    #content
      #page
        #cart
          = yield :header
          = render :partial => 'layouts/flash.html', :locals => { :flash => flash }
          - flash.discard
          = yield
        #controls
          = yield :controls

    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"
    = include_javascripts :store
    :javascript
      $("document").ready(function(){
        $(".currency").each(function(index, element){
          var name = $(this).attr('name'),
              input = $(this),
              form = $(this).closest('form'),
              hiddenCurrency = $(document.createElement('input'));

          input.maskMoney({showSymbol:true, symbolStay:true, allowZero:true, symbol:"$"});
          input.attr({"id":"old_" + name, "name":"old_" + name});
          hiddenCurrency.attr({'name': name, 'type': 'hidden'}).appendTo(form);

          form.submit(function(){
            hiddenCurrency.val(Math.round( parseFloat(input.val().substr(1).replace(/,/,"")) * 100 ));
          });
        });
      });