!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= "#{yield :title} : Artful.ly"
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}

    = include_stylesheets :application, :media => :screen
    = include_stylesheets :printing, :media => :print
    = csrf_meta_tag
    = render :partial => 'layouts/google_analytics'
  %body
    .container
      = render :partial => 'layouts/devise_menu'
      .row
        #content.span6.offset3
          = render :partial => 'layouts/flash.html', :locals => { :flash => flash }
          - flash.discard
          = yield
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"
    = include_javascripts :bootstrap
