!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= "#{yield :title} : Artful.ly"
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}

    = stylesheet_link_tag "application"
    = stylesheet_link_tag "formalize", "jquery/jquery.ui.css", :media => :screen
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Raleway:100'
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Arimo:regular,italic,bold"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"
    = javascript_include_tag "jquery/jquery-ui-1.8.5.custom.min.js","jquery/jquery.tablesorter.min.js","jquery/jquery.easy-tooltip.js", "jquery/jquery.mask-money.js"
    = javascript_include_tag "jquery/jquery.formalize.js"
    = javascript_include_tag "application"
    = javascript_include_tag "people"
    = javascript_include_tag "rails"

    /[if IE 8]
      /= javascript_include_tag "ie/excanvas.js"
      /= stylesheet_link_tag "ie/IEFix"
    /[if IE 7]
      /= javascript_include_tag "ie/excanvas.js"
      /= stylesheet_link_tag "ie/IEFix"

    = csrf_meta_tag
  %body
    #large-header
      %img{ :src => '/images/logo.png' }
    #content
      = render :partial => 'layouts/flash.html', :locals => { :flash => flash }
      - flash.discard
      = yield
