!!!
%html
  %head
    %title= "#{yield :title} : Artful.ly"

    = stylesheet_link_tag "application", "login"

    = javascript_include_tag "cufon-yui", "cufon.harabara-700"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"
    = javascript_include_tag "rails", "jquery/jquery-ui-1.8.5.custom.min.js", "jquery/jquery-ui-1.8.5.custom.min.js","jquery/jquery.hover-intent.min.js","jquery/jquery.tablesorter.min.js","jquery/jquery.easy-tooltip.js","jquery/jquery.iphone-checkboxes.js","jquery/jquery.visualize.js"
    = javascript_include_tag "application"

    /[if IE 8]
      = javascript_include_tag "ie/excanvas.js"
      = stylesheet_link_tag "ie/IEFix"
    /[if IE 7]
      = javascript_include_tag "ie/excanvas.js"
      = stylesheet_link_tag "ie/IEFix"

    = csrf_meta_tag

  %body
    #line
      #logo
    #background
      #container
        #box2
          = render :partial => 'layouts/flash', :locals => { :flash => flash }
          = yield