!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
    %title Artful.ly
    %link{:rel => 'stylesheet', :href => "http://twitter.github.com/bootstrap/1.4.0/bootstrap.css"}
    :css
      .topbar-inner, .topbar .fill {
        background-color: #175c71;
        background-repeat: repeat-x;
        background-image: -khtml-gradient(linear, left top, left bottom, from(#2086a6), to(#175c71));
        background-image: -moz-linear-gradient(top, #2086a6, #175c71);
        background-image: -ms-linear-gradient(top, #2086a6, #175c71);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2086a6), color-stop(100%, #175c71));
        background-image: -webkit-linear-gradient(top, #2086a6, #175c71);
        background-image: -o-linear-gradient(top, #2086a6, #175c71);
        background-image: linear-gradient(top, #2086a6, #175c71);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2086a6', endColorstr='#175c71', GradientType=0);
      }
      .topbar div > ul .active > a, .nav .active > a {
        background-color: #175c71;
      }
      .btn.primary {
        background-color: #a85300;
        background-image: -khtml-gradient(linear, left top, left bottom, from(#f8930a), to(#a85300));
        background-image: -moz-linear-gradient(top, #f8930a, #a85300);
        background-image: -ms-linear-gradient(top, #f8930a, #a85300);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8930a), color-stop(100%, #a85300));
        background-image: -webkit-linear-gradient(top, #f8930a, #a85300);
        background-image: -o-linear-gradient(top, #f8930a, #a85300);
        background-image: linear-gradient(top, #f8930a, #a85300);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8930a', endColorstr='#a85300', GradientType=0);
        border-color: #a85300 #a85300 #003f81;
      }
      .topbar a.brand {
        background-image: url('#{image_path('index/logo-white-topbar.png')}');
        background-repeat: no-repeat;
        background-position: 18px 7px;
        text-indent: 5000px;
        display: block;
        width: 85px;
      }
      .topbar .btn.primary {
        margin-top: 3px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      
      .raleway {
        font-family: Raleway, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
        font-weight: normal;
      }

      body {
        margin-top: 60px;
      }
  %body
    .topbar
      .topbar-inner
        .container
          %h3= link_to 'Artful.ly', root_url, :class => 'brand'
          %ul.nav.secondary-nav
            = active_link_to 'FAQ', faq_path
            = active_link_to 'Pricing', pricing_path
            = active_link_to 'Features', features_path
            = active_link_to 'Updates', updates_path
            %li= link_to 'Sign Up', '', :class => 'btn primary'
            = active_link_to 'Sign in', new_user_session_path
    .container
      =yield