!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}

    %title Artful.ly
    = favicon_link_tag
    :css
      /* jammit will break this if its in a .css file */
      @font-face {
        font-family: 'Harabara';
        src: url('/images/pages/Harabara.eot');
        src: url('/images/pages/Harabara.eot?#iefix') format('embedded-opentype'),
             url('/images/pages/Harabara.woff') format('woff'),
             url('/images/pages/Harabara.ttf') format('truetype'),
             url('/images/pages/Harabara.svg#') format('svg');
        font-weight: normal;
        font-style: normal;
      }
    = stylesheet_link_tag :application, :pages
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"
    = javascript_include_tag :bootstrap, :pages
    = render :partial => 'layouts/google_analytics'
    :javascript
      $(document).ready(function() {
        $('p:not(.blog)').widowFix();
      });

  %body
    - if user_signed_in?
      = render :partial => 'layouts/menu'
    - else
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            = link_to 'Artful.ly', root_url, :class => 'brand'
            %ul.nav.pull-right
              = active_link_to 'FAQ', faq_path
              = active_link_to 'Pricing', pricing_path
              = active_link_to 'Features', features_path
              = active_link_to 'Updates', updates_path
              %li= link_to 'Sign Up', sign_up_path, :class => 'btn primary'
              = active_link_to 'Sign in', new_user_session_path
    .container
      =yield
      = render 'layouts/footer'
