!!!
%html
  %head
    %title= "#{yield :title} : Artful.ly"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Raleway:100'
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Arimo:regular,italic,bold"
    = stylesheet_link_tag "themes/default", "formalize"
  %body
    #content
      = yield
    = javascript_include_tag "jquery/jquery.mask-money.js"
    = javascript_include_tag "jquery/jquery.formalize.js"
    = javascript_include_tag "jquery_ujs"