!!!
%html
  %head
    %title= "#{yield :title} : Artful.ly"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Raleway:100'
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Arimo:regular,italic,bold"
    = include_stylesheets :widget
  %body
    #content= yield
    = include_javascripts :widget
